Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add detailed MCP server status documentation
  .kiro/MCP_STATUS_DETAILED.md
Due: prettier --write, cspell --no-must-find-files

feat: add Google login button to login and register pages
  .kiro/specs/oauth-google-authentication/tasks.md
  package-lock.json
  package.json
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/register/register-form.tsx
  src/i18n/de/auth.json
  src/i18n/en/auth.json
  src/i18n/es/auth.json
  src/i18n/pt-BR/auth.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: simplify login/register to Google OAuth only and add production env
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/register/register-form.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add production environment template
  .env.production.example
Due: none

docs: add security guide for environment variables
  SECURITY_ENV_GUIDE.md
Due: prettier --write, cspell --no-must-find-files

docs: add setup guides without exposing secrets
  GOOGLE_OAUTH_SETUP.md
  SETUP_GUIDE.md
  VERCEL_ENV_SETUP.md
Due: prettier --write, cspell --no-must-find-files

feat: restore Supabase auth forms with login, register, and forgot password
  .kiro/CHECKLIST_CONFIGURACAO.md
  .kiro/COMECE_AQUI.txt
  .kiro/GUIA_COMPLETO_PT.md
  .kiro/INDICE_GUIAS.md
  .kiro/MCP_CONFIG_INSTRUCTIONS.md
  .kiro/MCP_SETUP_GUIDE.md
  .kiro/MCP_SETUP_SUMMARY.md
  .kiro/MCP_STATUS.md
  .kiro/MCP_STATUS_DETAILED.md
  .kiro/PARA_VOCE.txt
  .kiro/QUICK_START.md
  .kiro/README_MCP.md
  .kiro/RESUMO_VISUAL.txt
  .kiro/SETUP_CREDENTIALS.md
  .kiro/SUMARIO_FINAL.md
  src/app/[locale]/forgot-password/forgot-password-form.tsx
  src/app/[locale]/forgot-password/page.tsx
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/register/register-form.tsx
  src/i18n/de/auth.json
  src/i18n/en/auth.json
  src/i18n/es/auth.json
  src/i18n/pt-BR/auth.json
  src/lib/supabase/client.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: correct Google redirect URI environment variable reference
  src/app/api/auth/google/callback/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: standardize Google OAuth environment variables and add documentation
  GOOGLE_OAUTH_ENV_VARS.md
  src/app/api/auth/google/callback/route.ts
  src/lib/auth/google-auth.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add comprehensive Vercel environment variables guide
  VERCEL_ENVIRONMENT_VARIABLES.md
Due: prettier --write, cspell --no-must-find-files

docs: update environment variables guide with detailed analysis and to-do specs
  VERCEL_ENVIRONMENT_VARIABLES.md
Due: prettier --write, cspell --no-must-find-files

docs: add environment setup guide and example files (no secrets)
  .env.docker.example
  .env.local.example
  .env.production.example
  .gitignore
  ENV_SETUP_GUIDE.md
Due: prettier --write, cspell --no-must-find-files

docs: add security incident report and remediation steps
  SECURITY_INCIDENT_REPORT.md
Due: prettier --write, cspell --no-must-find-files

docs: add final cleanup status and security verification
  CLEANUP_FINAL_STATUS.md
Due: prettier --write, cspell --no-must-find-files

fix: remove exposed secrets from GOOGLE_OAUTH_ENV_VARS.md
  GOOGLE_OAUTH_ENV_VARS.md
Due: prettier --write, cspell --no-must-find-files

fix: remove GOOGLE_OAUTH_ENV_VARS.md due to exposed secrets
  GOOGLE_OAUTH_ENV_VARS.md
Due: prettier --write, cspell --no-must-find-files

docs: add environment cleanup actions and lists for Vercel configuration
  ENV_CLEANUP_ACTIONS.md
  ENV_CLEANUP_LISTS.md
Due: prettier --write, cspell --no-must-find-files

docs: update environment cleanup lists - move WhatsApp to remove, clarify DEBUG variables
  ENV_CLEANUP_ACTIONS.md
  ENV_CLEANUP_LISTS.md
Due: prettier --write, cspell --no-must-find-files

docs: complete documentation reorganization
  .env.docker.example
  .env.local.example
  .env.production.example
  AWS_SETUP_COMPLETE.md
  CLEANUP_FINAL_STATUS.md
  ENV_CLEANUP_ACTIONS.md
  ENV_CLEANUP_LISTS.md
  ENV_SETUP_GUIDE.md
  GOOGLE_OAUTH_SETUP.md
  IMPLEMENTATION_PLAN.md
  IMPLEMENTATION_SUMMARY.md
  LOCAL_TESTING_GUIDE.md
  PERFORMANCE.md
  README.md
  SECURITY_DOCUMENTATION.md
  SECURITY_DOCUMENTATION_OAUTH.md
  SECURITY_ENV_GUIDE.md
  SECURITY_INCIDENT_REPORT.md
  SETUP_GUIDE.md
  URL_CHANGES_SUMMARY.txt
  VERCEL_ENVIRONMENT_VARIABLES.md
  VERCEL_ENV_SETUP.md
  docs/API.md
  docs/API_AUTH.md
  docs/API_OAUTH.md
  docs/AWS_COMMANDS_REFERENCE.md
  docs/AWS_DEPLOYMENT_CHECKLIST.md
  docs/AWS_DEPLOYMENT_GUIDE.md
  docs/AWS_INDEX.md
  docs/AWS_QUICK_START.md
  docs/AWS_ROADMAP.md
  docs/AWS_SUMMARY.md
  docs/AWS_VISUAL_GUIDE.md
  docs/DOCKER.md
  docs/DOCUMENTATION_REORGANIZATION.md
  test-output.txt
Due: prettier --write, cspell --no-must-find-files

perf: reduce property-based test iterations from 100 to 20
  .kiro/specs/oauth-password-requirement/.config.kiro
  .kiro/specs/oauth-password-requirement/design.md
  .kiro/specs/oauth-password-requirement/requirements.md
  .kiro/specs/oauth-password-requirement/tasks.md
  src/__tests__/lib/auth/password-hashing-property.test.ts
  src/__tests__/lib/validation-password-property.test.ts
  src/__tests__/lib/validation.test.ts
  src/lib/auth/common-passwords.ts
  src/lib/auth/oauth-validator.test.ts
  src/lib/auth/oauth-validator.ts
  src/lib/config/env.test.ts
  src/lib/discord/alerter.test.ts
  src/lib/logger/pino-logger.test.ts
  src/lib/middleware/context.test.ts
  src/lib/validation.ts
  supabase/migrations/20250105000000_add_oauth_columns_nullable.sql
  supabase/migrations/20250106000000_populate_oauth_from_google.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: loggin auth logic
  .env.local.example
  .kiro/specs/distributed-infrastructure-logging/design.md
  .kiro/specs/distributed-infrastructure-logging/requirements.md
  .kiro/specs/distributed-infrastructure-logging/tasks.md
  .kiro/specs/oauth-google-authentication/.config.kiro
  .kiro/specs/oauth-google-authentication/DESIGN_SUMMARY.md
  .kiro/specs/oauth-google-authentication/design.md
  .kiro/specs/oauth-google-authentication/requirements.md
  .kiro/specs/oauth-google-authentication/tasks.md
  .kiro/specs/oauth-password-requirement/.config.kiro
  .kiro/specs/oauth-password-requirement/design.md
  .kiro/specs/oauth-password-requirement/requirements.md
  .kiro/specs/oauth-password-requirement/tasks.md
  .kiro/specs/secure-authentication-system/.config.kiro
  .kiro/specs/secure-authentication-system/design.md
  .kiro/specs/secure-authentication-system/requirements.md
  .kiro/specs/secure-authentication-system/tasks.md
  package-lock.json
  package.json
  src/__tests__/lib/auth/password-hashing.property.test.ts
  src/__tests__/lib/auth/user.property.test.ts
  src/__tests__/lib/auth/user.test.ts
  src/__tests__/lib/validation.property.test.ts
  src/app/api/auth/oauth/callback/route.test.ts
  src/app/api/auth/oauth/callback/route.ts
  src/lib/auth/oauth-validator.test.ts
  src/lib/auth/temp-token.test.ts
  src/lib/auth/temp-token.ts
  src/lib/auth/user.ts
  src/types/auth.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add trailing slashes to rewrite patterns in next.config.ts
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update login and register pages to await params in Next.js 16
  .kiro/specs/fix-localized-routes-404/.config.kiro
  .kiro/specs/fix-localized-routes-404/bugfix.md
  .kiro/specs/fix-localized-routes-404/design.md
  .kiro/specs/fix-localized-routes-404/tasks.md
  src/app/[locale]/login/page.tsx
  src/app/[locale]/register/page.tsx
  tests/localized-routes-preservation.spec.ts
  tests/localized-routes-rewrite.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove unsupported experimental.forceSwcTransforms option for Turbopack compatibility
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add comprehensive environment variables setup guide for local and Vercel deployment
  docs/ENVIRONMENT_SETUP.md
Due: prettier --write, cspell --no-must-find-files

fix: pass params prop to AboutSection and ChannelManagementSection in quem-sou-eu page
  src/app/[locale]/quem-sou-eu/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: 404 everywhere due url update
  .kiro/specs/fix-localized-routes-404/.config.kiro
  .kiro/specs/fix-localized-routes-404/bugfix.md
  .kiro/specs/fix-localized-routes-404/design.md
  .kiro/specs/fix-localized-routes-404/tasks.md
  .kiro/specs/hypixel-qol-modpack-page/.config.kiro
  .kiro/specs/hypixel-qol-modpack-page/design.md
  .kiro/specs/hypixel-qol-modpack-page/requirements.md
  .kiro/specs/hypixel-qol-modpack-page/tasks.md
  .kiro/specs/minecraft-wiki-section/.config.kiro
  .kiro/specs/minecraft-wiki-section/design.md
  .kiro/specs/minecraft-wiki-section/requirements.md
  .kiro/specs/minecraft-wiki-section/tasks.md
  docs/ENVIRONMENT_SETUP.md
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/app/[locale]/minecraft/mods/page.tsx
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: correct auth route rewrites and Google OAuth redirect URI
  .kiro/specs/authentication-system-broken/bugfix.md
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add RSC query parameter support to rewrites
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: simplify auth route rewrites to handle query parameters
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement in-memory database methods for user authentication
  src/lib/db.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement session handling in in-memory database
  src/lib/db.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: create dashboard routing structure with Next.js App Router
  src/app/dashboard/insights/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/publish/page.tsx
  src/app/dashboard/settings/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: configure Tailwind CSS with Vercel color palette and sidebar spacing
  tailwind.config.js
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement PublishContainer component for Publish tab
  src/components/publish/PublishContainer.stories.tsx
  src/components/publish/PublishContainer.test.tsx
  src/components/publish/PublishContainer.tsx
  src/components/publish/README.md
  src/components/publish/index.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement Settings Tab components (Tasks 21-28)
  src/components/settings/BillingSection.test.tsx
  src/components/settings/BillingSection.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/components/settings/ChannelsSection.tsx
  src/components/settings/IntegrationsSection.test.tsx
  src/components/settings/IntegrationsSection.tsx
  src/components/settings/PreferencesSection.test.tsx
  src/components/settings/PreferencesSection.tsx
  src/components/settings/ProfileSection.test.tsx
  src/components/settings/ProfileSection.tsx
  src/components/settings/README.md
  src/components/settings/SecuritySection.test.tsx
  src/components/settings/SecuritySection.tsx
  src/components/settings/SettingsContainer.test.tsx
  src/components/settings/SettingsContainer.tsx
  src/components/settings/index.ts
  src/lib/api/index.ts
  src/lib/api/user.test.ts
  src/lib/api/user.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement responsive design for tablet (768px-1024px) - Task 30
  src/__tests__/components/dashboard-tablet-responsive.test.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement accessibility testing with WCAG 2.1 AA compliance - Task 31
  src/__tests__/components/dashboard-accessibility.test.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
