Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

test: add middleware and validation test coverage (Phase 2) (#93)
  src/lib/auth/validation.test.ts
  src/lib/middleware.test.ts
  src/middleware/cors.test.ts
  src/middleware/https-enforcement.test.ts
  src/middleware/security-headers.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(tests): resolve 13 UI test failures across 7 files
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/components/theme-provider.test.tsx
  src/components/publish/FilterBar.test.tsx
  src/components/publish/PublishContainer.test.tsx
  src/components/publish/UniversalPostingButton.test.tsx
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(docker): add init-schema.sql for postgres container initialization
  docker/init-schema.sql
Due: none

fix(types): cast OpenGraph type property to fix TS CI error
  src/app/[locale]/services/__tests__/metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(ci): add lint JSON results to prettierignore
  .prettierignore
Due: none

style: format all files with prettier to fix CI
  src/__tests__/auth/rate-limiter-degradation.test.ts
  src/__tests__/auth/rate-limiter-redis.test.ts
  src/__tests__/auth/rate-limiter.test.ts
  src/__tests__/components/theme-provider.test.tsx
  src/app/[locale]/services/__tests__/ServicesSubmenu.test.tsx
  src/app/[locale]/services/__tests__/metadata.test.ts
  src/components/publish/ContentCreator.test.tsx
  src/components/publish/PublishContainer.test.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/lib/auth/password-security/auth-service-types.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/login-service.ts
  src/lib/auth/password-security/registration-service.ts
  src/lib/auth/user.test.ts
  src/lib/auth/validation.test.ts
  src/lib/middleware.test.ts
  src/lib/validation.ts
  src/lib/validation/index.ts
  src/lib/validation/phone.ts
  src/middleware/cors.test.ts
  src/middleware/https-enforcement.test.ts
  src/middleware/security-headers.test.ts
  src/test-utils/next-intl-mock.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add PEPPER_SECRET fallback in vitest.setup.ts for CI
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#94): resolve timing issues in test suite - all 6878 tests passing
  src/lib/auth/validation.property.test.ts
  src/middleware/auth-middleware.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(#94, #96): fix timing-sensitive tests for CI environments
  src/__tests__/security/password-storage-security.test.ts
  src/hooks/useRegistration.test.ts
  src/lib/auth/account-completion.property.test.ts
  src/lib/auth/password-security/constant-time-comparison.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: fix additional timing-sensitive tests - all 6878 tests passing
  src/__tests__/performance/login-performance.test.ts
  src/__tests__/security/password-storage-security.test.ts
  src/lib/auth/captcha-verifier.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: fix remaining timing tests & relax performance variance
  src/__tests__/performance/login-performance.test.ts
  src/__tests__/security/password-storage-security.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: configure test environment with missing variables and exclude flaky tests
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

style: format files with prettier to fix CI formatting checks
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: increase timing tolerance for argon2id constant-time comparison test
  src/lib/auth/password-security/argon2id-hasher.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: exclude additional auth route tests requiring infrastructure
  vitest.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add GitHub secrets configuration documentation
  .github/SECRETS_SETUP.md
Due: prettier --write, cspell --no-must-find-files

docs: update GitHub secrets and variables documentation
  .github/SECRETS_SETUP.md
Due: prettier --write, cspell --no-must-find-files

fix: separate CI quality checks from tests to prevent preview deploy failures
  .github/workflows/ci.yml
  vercel.json
Due: prettier --write, cspell --no-must-find-files

docs: explain preview vs production deployment differences and fix
  .github/PREVIEW_VS_PRODUCTION.md
Due: prettier --write, cspell --no-must-find-files

chore(#98): document GitHub Secrets and Variables configuration
  .github/GITHUB_SECRETS_VARIABLES.md
Due: prettier --write, cspell --no-must-find-files

fix: correct vercel.json env field schema
  vercel.json
Due: prettier --write, cspell --no-must-find-files

chore: remove SMTP and DATABASE_URL from GitHub secrets
  .github/GITHUB_SECRETS_VARIABLES.md
Due: prettier --write, cspell --no-must-find-files

del: AI docs
  .github/GITHUB_SECRETS_VARIABLES.md
  .github/PREVIEW_VS_PRODUCTION.md
  .github/SECRETS_SETUP.md
Due: prettier --write, cspell --no-must-find-files

fix: resolve merge conflict in services metadata tests
  src/__tests__/pages/services-metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor: improve services metadata tests using i18n imports instead of ternaries
  src/__tests__/pages/services-metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: remove old services metadata test from original location
  src/app/[locale]/services/__tests__/metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: suppress TypeScript errors for dynamic imports with [locale] parameter in tests
  src/__tests__/pages/services-metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(#99): extract services metadata to utility to resolve TypeScript import errors
  src/__tests__/pages/services-metadata.test.ts
  src/app/[locale]/services/page.tsx
  src/lib/metadata/services-metadata.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

style(#99): format services metadata utility
  src/lib/metadata/services-metadata.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: remove debug and test output files, update .gitignore
  .gitignore
  debug-dropdown.cjs
  debug-include-theme.mjs
  debug-include-theme2.mjs
  debug-lang-cycle.cjs
  debug-lang-cycle.mjs
  debug-register.cjs
  debug-register10.cjs
  debug-register11.cjs
  debug-register2.cjs
  debug-register3.cjs
  debug-register4.cjs
  debug-register5.cjs
  debug-register6.cjs
  debug-register7.cjs
  debug-register8.cjs
  debug-register9.cjs
  debug-test-hydration.mjs
  debug-test.mjs
  debug-test2.mjs
  debug-test3.mjs
  debug-test4.mjs
  debug-test5.mjs
  debug-verify-fix.mjs
  debug_en_page.png
  debug_fix_verify.png
  debug_services.png
  debug_services2.png
Due: none

fix(oauth): replace x-user-id header with server session in authorize routes
  src/__tests__/security/facebook-authorize.security.test.ts
  src/__tests__/security/instagram-authorize.security.test.ts
  src/__tests__/security/kick-authorize.security.test.ts
  src/__tests__/security/tiktok-authorize.security.test.ts
  src/app/api/oauth/authorize/[platform]/route.ts
  src/app/api/oauth/authorize/facebook/route.ts
  src/app/api/oauth/authorize/instagram/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/tiktok/route.ts
  src/components/dashboard/Sidebar.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(db): create missing scheduled_posts and related tables in production
  supabase/migrations/20260630_missing_scheduled_posts_tables.sql
Due: none

docs: update CHANGELOG for June 2026 production fixes
  CHANGELOG.md
Due: prettier --write, cspell --no-must-find-files

docs: add ROADMAP for June 2026 production fixes cycle
  ROADMAP.md
Due: prettier --write, cspell --no-must-find-files

fix: align oauth-manager env var names with env.ts and Vercel
  src/lib/oauth/oauth-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add ENV-CONVENTIONS.md with naming map and lessons learned
  ENV-CONVENTIONS.md
Due: prettier --write, cspell --no-must-find-files

feat: add YouTube Analytics scopes for monetary/member/affiliate data
  src/lib/oauth/oauth-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add scope version tracking for OAuth reconnection detection
  src/app/api/oauth/callback/facebook/route.ts
  src/app/api/oauth/callback/instagram/route.ts
  src/app/api/oauth/callback/kick/route.ts
  src/app/api/oauth/callback/tiktok/route.ts
  src/app/api/user/channels/route.ts
  src/app/api/youtube/link/callback/route.ts
  src/components/settings/ChannelsSection.tsx
  src/components/settings/SettingsContainer.tsx
  src/lib/oauth/scope-versions.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
