Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

security: add server-side validation to prevent script modifications
  .kiro/SERVER_SIDE_VALIDATION_GUIDE.md
  src/__tests__/security/request-validation.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#secure-login): implement complete secure login system with database schema, utilities, API endpoints, frontend components, and comprehensive security testing
  .kiro/IMPLEMENTATION_SUMMARY.md
  .kiro/LOGIN_IMPLEMENTATION_CHECKLIST.md
  .kiro/LOGIN_PROBLEMS_EXPLAINED.md
  .kiro/REAL_TIME_VALIDATION_GUIDE.md
  .kiro/SECURITY_TESTING_GUIDE.md
  .kiro/SERVER_SIDE_VALIDATION_GUIDE.md
  .kiro/specs/secure-login-implementation/.config.kiro
  .kiro/specs/secure-login-implementation/IMPLEMENTATION_SUMMARY.md
  .kiro/specs/secure-login-implementation/design.md
  .kiro/specs/secure-login-implementation/requirements.md
  .kiro/specs/secure-login-implementation/tasks.md
  src/__tests__/security/login-security.test.ts
  src/lib/auth/csrf-validator.test.ts
  src/lib/auth/csrf-validator.ts
  src/lib/auth/input-validation.test.ts
  src/lib/auth/input-validation.ts
  src/lib/db/migrations/007_create_login_tables.sql
  supabase/migrations/20260428_add_login_infrastructure.sql
  supabase/schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#registration): add real-time password validation feedback during registration
  src/components/registration/PasswordSetup.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

style(#registration): improve authentication entry button layout
  src/components/registration/AuthenticationEntry.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: translate markdown files to English
  .agent/AI_CONTEXT.md
  .kiro/specs/video-upload-multi-platform/API_SETUP_GUIDE.md
  docker/README.md
Due: prettier --write, cspell --no-must-find-files

docs: translate all workflow files to English
  .agent/workflows/deploy.md
  .agent/workflows/onboarding.md
  .agent/workflows/testing.md
Due: prettier --write, cspell --no-must-find-files

docs: translate all documentation files to English
  docs/ARCHITECTURE.md
  docs/CLOUD_DEPLOYMENT_GUIDE.md
  docs/DATABASE_MIGRATION_GUIDE.md
  docs/DOCKER.md
Due: prettier --write, cspell --no-must-find-files

docs: translate remaining documentation files to English
  .agent/EMERGENCY_ROLLBACK.md
  docs/ENDPOINTS.md
  docs/ROADMAP.md
  docs/modules/AUTH.md
  docs/modules/CHAT.md
  docs/modules/STREAMING.md
  docs/modules/YOUTUBE.md
Due: prettier --write, cspell --no-must-find-files

docs: translate spec summary file to English
  .kiro/specs/video-upload-multi-platform/RESUMO.md
Due: prettier --write, cspell --no-must-find-files

feat: complete codebase english translation and resolve build errors
  .kiro/specs/dashboard-redesign/.config.kiro
  .kiro/specs/dashboard-redesign/design.md
  .kiro/specs/dashboard-redesign/requirements.md
  .kiro/specs/dashboard-redesign/tasks.md
  .kiro/specs/secure-login-implementation/IMPLEMENTATION_SUMMARY.md
  .kiro/specs/video-upload-multi-platform/API_SETUP_GUIDE.md
  .kiro/specs/video-upload-multi-platform/RESUMO.md
  docs/modules/ANALYTICS.md
  docs/modules/CREDITS.md
  package-lock.json
  package.json
  src/__tests__/app/editors-form-coverage.test.tsx
  src/__tests__/app/pc-optimization-terms-page-coverage.test.tsx
  src/app/[locale]/editors/editors-form.tsx
  src/app/[locale]/home/channel-management-section.tsx
  src/lib/audit/audit-logger.ts
  src/lib/auth/auth-options.ts
  src/lib/discord.ts
  src/lib/posting/adapters/facebook.ts
  src/lib/posting/adapters/instagram.ts
  src/lib/posting/adapters/linkedin.ts
  src/lib/posting/adapters/twitter.ts
  src/lib/posting/adapters/youtube.ts
  src/lib/questions/checklist.ts
  src/lib/stripe/index.ts
  tests/home.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: resolve database security issues identified by Supabase linter
  docs/APPLY_SECURITY_FIX.md
  docs/SECURITY_REMEDIATION.md
  supabase/migrations/fix_security_issues.sql
Due: prettier --write, cspell --no-must-find-files

feat: implement unified sign-in/registration system with SSO support
  docs/SSO_IMPLEMENTATION.md
  src/app/[locale]/signin/page.tsx
  src/components/auth/unified-signin-form.tsx
  src/i18n/de/auth.json
  src/i18n/en/auth.json
  src/i18n/es/auth.json
  src/i18n/pt-BR/auth.json
  src/lib/auth/unified-auth.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#unified-signin): implement unified sign-in/registration system with SSO support
  docs/AUTH_DATABASE_SCHEMA.md
  docs/AUTH_ROUTES.md
  docs/UNIFIED_SIGNIN_IMPLEMENTATION.md
  src/__tests__/auth/unified-signin.test.ts
  src/__tests__/security/auth-security.test.ts
  src/app/[locale]/login/page.tsx
  src/app/[locale]/register/page.tsx
  src/app/[locale]/signin/page.tsx
  supabase/migrations/20260430_create_unified_auth_schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor: rename quem-sou-eu folder to about-me with proper i18n routing
  src/app/[locale]/about-me/page.tsx
  src/components/layout/header.tsx
  src/lib/url-mapping.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: secure Supabase database with comprehensive RLS policies
  .kiro/specs/supabase-security-fixes/.config.kiro
  .kiro/specs/supabase-security-fixes/bugfix.md
  .kiro/specs/supabase-security-fixes/design.md
  .kiro/specs/supabase-security-fixes/tasks.md
  src/__tests__/security/bug-condition-audit-logs-rls.test.ts
  src/__tests__/security/bug-condition-login-attempts-rls.test.ts
  src/__tests__/security/bug-condition-security-definer.test.ts
  src/__tests__/security/bug-condition-sessions-rls.test.ts
  src/__tests__/security/preservation-database-functions.test.ts
  src/__tests__/security/preservation-rls-policies.test.ts
  supabase/migrations/20260428_add_login_infrastructure.sql
  supabase/migrations/20260430_create_unified_auth_schema.sql
  supabase/migrations/fix_security_issues.sql
  supabase/schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add proper error handling for missing Supabase environment variables
  src/lib/client.ts
  src/lib/middleware.ts
  src/lib/server.ts
  src/lib/supabase/client.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: resolve Vercel 500 error and update header navigation
  src/app/[locale]/channel-management/channel-management-metadata.ts
  src/app/[locale]/editors/editors-metadata.ts
  src/app/[locale]/home-metadata.ts
  src/app/[locale]/layout-metadata.ts
  src/app/[locale]/pc-optimization/pc-optimization-metadata.ts
  src/app/[locale]/pc-optimization/terms/terms-metadata.ts
  src/app/[locale]/privacy-policy/privacy-policy-metadata.ts
  src/app/[locale]/terms-of-service/terms-of-service-metadata.ts
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement email verification using Resend
  .env.local.example
  src/app/api/auth/send-verification-email/route.ts
  src/lib/auth/email-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: consolidate environment configuration and remove redundant files
  .env.local.example
  .env.production.example
Due: none

del: docs
  ENVIRONMENT_CONFIGURATION.md
  TASK_22_COMPLETION_SUMMARY.md
  env.example
  env.platform.example
Due: prettier --write, cspell --no-must-find-files

docs: add Vercel sensitivity indicators to all environment variables
  .env.local.example
  .env.production.example
Due: none

docs: add Vercel environment indicators to all variables
  .env.local.example
  .env.production.example
Due: none

docs: remove redundant database documentation
  docs/APPLY_SECURITY_FIX.md
  docs/AUTH_DATABASE_SCHEMA.md
  docs/DATABASE_CONSTRAINTS.md
  docs/DATABASE_MIGRATION_GUIDE.md
  docs/REGISTRATION_PERFORMANCE_OPTIMIZATION.md
  docs/REGISTRATION_SCHEMA_SETUP.md
  docs/RLS_POLICIES.md
  docs/RLS_QUICK_REFERENCE.md
  docs/RLS_VERIFICATION_REPORT.md
Due: prettier --write, cspell --no-must-find-files

docs: remove outdated and unimplemented feature documentation
  docs/DOCUMENTATION_REORGANIZATION.md
  docs/SECURE_LOGIN_API.md
  docs/SECURE_LOGIN_DEPLOYMENT.md
  docs/SECURE_LOGIN_RUNBOOKS.md
  docs/SECURE_LOGIN_SECURITY.md
  docs/SECURE_LOGIN_TROUBLESHOOTING.md
  docs/SECURITY_REMEDIATION.md
  docs/SSO_IMPLEMENTATION.md
  docs/UNIFIED_SIGNIN_IMPLEMENTATION.md
Due: prettier --write, cspell --no-must-find-files

docs: consolidate and remove duplicate documentation
  docs/API_DOCUMENTATION.md
  docs/DEPLOYMENT_ARCHITECTURE.md
  docs/REGISTRATION_DEPLOYMENT_GUIDE.md
  docs/REGISTRATION_USER_GUIDE.md
Due: prettier --write, cspell --no-must-find-files

chore: add .agent folder to gitignore
  .agent/AI_CONTEXT.md
  .agent/DEPLOYMENT_CHECKLIST.md
  .agent/DEPLOYMENT_COMMANDS.md
  .agent/DEPLOYMENT_INDEX.md
  .agent/DEPLOYMENT_SUMMARY.md
  .agent/EMERGENCY_ROLLBACK.md
  .agent/ENVIRONMENT_VARIABLES.md
  .agent/QUICK_DEPLOYMENT_GUIDE.md
  .agent/QUICK_START_YOUTUBE_LINKING.md
  .agent/SUPABASE_DEPLOYMENT_GUIDE.md
  .agent/SUPABASE_SETUP_WALKTHROUGH.md
  .agent/YOUTUBE_LINKING_DEPLOYMENT_STATUS.md
  .agent/workflows/deploy.md
  .agent/workflows/onboarding.md
  .agent/workflows/testing.md
Due: prettier --write, cspell --no-must-find-files

chore: add .kiro/settings to gitignore
  .kiro/settings/mcp.json
Due: prettier --write, cspell --no-must-find-files

chore: add audit reports to gitignore
  audit.json
  audit2.json
Due: prettier --write, cspell --no-must-find-files

chore: add test output files to gitignore
  test-output.txt
Due: none

Revert "chore: add test output files to gitignore"
  test-output.txt
Due: none

Revert "chore: add .kiro/settings to gitignore"
  .kiro/settings/mcp.json
Due: prettier --write, cspell --no-must-find-files

Revert "chore: add audit reports to gitignore"
  audit.json
  audit2.json
Due: prettier --write, cspell --no-must-find-files

Revert "chore: add .agent folder to gitignore"
  .agent/AI_CONTEXT.md
  .agent/DEPLOYMENT_CHECKLIST.md
  .agent/DEPLOYMENT_COMMANDS.md
  .agent/DEPLOYMENT_INDEX.md
  .agent/DEPLOYMENT_SUMMARY.md
  .agent/EMERGENCY_ROLLBACK.md
  .agent/ENVIRONMENT_VARIABLES.md
  .agent/QUICK_DEPLOYMENT_GUIDE.md
  .agent/QUICK_START_YOUTUBE_LINKING.md
  .agent/SUPABASE_DEPLOYMENT_GUIDE.md
  .agent/SUPABASE_SETUP_WALKTHROUGH.md
  .agent/YOUTUBE_LINKING_DEPLOYMENT_STATUS.md
  .agent/workflows/deploy.md
  .agent/workflows/onboarding.md
  .agent/workflows/testing.md
Due: prettier --write, cspell --no-must-find-files

docs: remove too-specific and moment-based documentation
  .gitignore
  docs/AUTH_ROUTES.md
  docs/CLOUD_DEPLOYMENT_GUIDE.md
  docs/CROSS_BROWSER_TESTING.md
  docs/DEPLOYMENT_CHECKLIST.md
  docs/ENDPOINTS.md
  docs/ENVIRONMENT_SETUP.md
  docs/QUEUE_PROCESSING_SETUP.md
  docs/QUICK_DEPLOY.md
  docs/ROADMAP.md
Due: prettier --write, cspell --no-must-find-files

docs: consolidate API and guide documentation
  .gitignore
  .kiro/specs/secure-login-implementation/.config.kiro
  .kiro/specs/secure-login-implementation/design.md
  .kiro/specs/secure-login-implementation/requirements.md
  .kiro/specs/secure-login-implementation/tasks.md
  docs/API_AUTH.md
  docs/API_OAUTH.md
  docs/API_POSTING.md
  docs/API_REGISTRATION.md
  docs/DEVELOPER_GUIDE_POSTING.md
  docs/USER_GUIDE_POSTING.md
Due: prettier --write, cspell --no-must-find-files

fix: correct dashboard button link in header
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add localized URL slug routing for all locales
  src/app/[locale]/acerca-de-mi/page.tsx
  src/app/[locale]/afiliados-amazon/page.tsx
  src/app/[locale]/amazon-partner/page.tsx
  src/app/[locale]/anmelden/page.tsx
  src/app/[locale]/datenschutzrichtlinie/page.tsx
  src/app/[locale]/editoren/page.tsx
  src/app/[locale]/editores/page.tsx
  src/app/[locale]/entrar/page.tsx
  src/app/[locale]/gerenciamento-de-canais/page.tsx
  src/app/[locale]/gestion-de-canales/page.tsx
  src/app/[locale]/iniciar-sesion/page.tsx
  src/app/[locale]/kanalverwaltung/page.tsx
  src/app/[locale]/nutzungsbedingungen/page.tsx
  src/app/[locale]/optimizacion-de-pc/page.tsx
  src/app/[locale]/otimizacao-de-pc/page.tsx
  src/app/[locale]/pc-optimierung/page.tsx
  src/app/[locale]/personlichkeitstest/page.tsx
  src/app/[locale]/politica-de-privacidad/page.tsx
  src/app/[locale]/politica-de-privacidade/page.tsx
  src/app/[locale]/prueba-de-ci/page.tsx
  src/app/[locale]/prueba-de-personalidad/page.tsx
  src/app/[locale]/quem-sou-eu/page.tsx
  src/app/[locale]/registrar/page.tsx
  src/app/[locale]/registrarse/page.tsx
  src/app/[locale]/registrieren/page.tsx
  src/app/[locale]/terminos-de-servicio/page.tsx
  src/app/[locale]/termos-de-servico/page.tsx
  src/app/[locale]/teste-de-personalidade/page.tsx
  src/app/[locale]/teste-de-qi/page.tsx
  src/app/[locale]/uber-mich/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add minecraft submenu and hypixel-qol modpack page
  src/app/[locale]/minecraft/minecraft-submenu.tsx
  src/app/[locale]/minecraft/modpacks/hypixel-qol/page.tsx
  src/app/[locale]/minecraft/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#6): add missing dashboard translation key and fix minecraft submenu import
  src/app/[locale]/minecraft/page.tsx
  src/i18n/de/layout.header.json
  src/i18n/en/layout.header.json
  src/i18n/es/layout.header.json
  src/i18n/pt-BR/layout.header.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
