Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,md,mdx,css,scss,sass,yaml,yml}": ["prettier --write"],
    "*.{ts,tsx,js,jsx,md,json}": ["cspell --no-must-find-files"]
}

fix: Add technical terms to cspell dictionary
  cspell.json
  project-words.txt
Due: prettier --write, cspell --no-must-find-files

fix: Add all remaining technical terms to spell checker dictionary
  project-words.txt
Due: none

fix: Add comprehensive spell check dictionary for multi-language codebase
  temp-spell-words.txt
Due: none

fix: Ignore orchestration files from spell check
  .cspellignore
  temp-spell-words.txt
Due: none

fix: Exclude orchestration directory from spell check in cspell.json
  cspell.json
Due: prettier --write, cspell --no-must-find-files

fix: Add complete multi-language dictionary for spell check
  all-unknown-words.txt
  project-words.txt
  remaining-words.txt
Due: none

fix: Add final 160+ Spanish/German words to complete spell check
  all-unknown-words.txt
  final-words.txt
  project-words.txt
  remaining-words.txt
Due: none

fix: Add final 42 Spanish words to achieve 0 spell check errors
  final-words.txt
  project-words.txt
Due: none

fix: Add final 7 Spanish capitalized words (0 errors achieved!)
  project-words.txt
Due: none

fix: Add final 4 Spanish words - spell check now passes with 0 errors
  project-words.txt
Due: none

chore: downgrade lint warnings to allow CI pass
  src/components/publish/PostingInterface.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update handlePublish reference after lint rename
  src/components/publish/PostingInterface.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

style: format cspell.json with prettier
  cspell.json
Due: prettier --write, cspell --no-must-find-files

fix: spell check all languages (PT/ES/DE/EN)
  cspell.json
  final-words.txt
  project-words.txt
  src/components/publish/PostingInterface.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add i18n validation to CI/CD
  .github/workflows/quality-check.yml
  .github/workflows/test.yml
  package.json
  scripts/validate-i18n.js
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: update all dependencies
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: env tests - add all required variables to test setup
  src/lib/config/env.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: format all test files
  .github/workflows/quality-check.yml
  .github/workflows/test.yml
Due: prettier --write

chore: auto-format all files
  scripts/validate-i18n.js
  src/lib/config/env.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add complete documentation
  docs/README.md
  docs/api/README.md
  docs/architecture/README.md
  docs/components/README.md
Due: prettier --write, cspell --no-must-find-files

fix: resolve all 53 ESLint warnings to zero
  package-lock.json
  package.json
  src/app/[locale]/channel-management/channel-management-view.tsx
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/dashboard/publish/page.tsx
  src/app/[locale]/editors/editors-form.tsx
  src/app/[locale]/editors/editors-view.tsx
  src/app/[locale]/pc-optimization/pc-optimization-hero.tsx
  src/app/[locale]/pc-optimization/pc-optimization-view.tsx
  src/app/api/live/status/route.ts
  src/app/api/live/update/route.ts
  src/app/api/platform/instagram/publish/route.ts
  src/app/api/user/channels/route.ts
  src/app/dashboard/publish/page.tsx
  src/components/auth/login-form.test.tsx
  src/components/auth/turnstile-widget.tsx
  src/components/credits/CreditWidget.tsx
  src/components/dashboard/live/stream-key-card.tsx
  src/components/publish/PostingInterface.tsx
  src/components/publish/PostingScheduler.tsx
  src/components/publish/wizard/ChannelSelectStep.tsx
  src/components/publish/wizard/NetworkSelectStep.tsx
  src/components/publish/wizard/PublishWizard.tsx
  src/components/publish/wizard/TagInput.tsx
  src/components/publish/wizard/VisibilityStep.tsx
  src/components/ui/pricing-toggle.tsx
  src/hooks/use-chat-ws.ts
  src/hooks/useGoogleAuth.ts
  src/hooks/useSSOAuth.ts
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/chat/youtube-relay-adapter.ts
  src/lib/middleware/api-csrf-middleware.ts
  src/lib/posting/adapters/youtube.ts
  src/lib/tiktok/oauth-service.ts
  src/lib/twitter/oauth1-service.ts
  src/orchestration/bug-hunter.ts
  src/orchestration/implement-complete-pipeline.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: replace non-existent Geist fonts with Inter, convert next.config.ts to .js
  next.config.js
  next.config.ts
  src/app/layout.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): translate 11 critical French files
  .kiro/specs/logout-button-not-working/.config.kiro
  .kiro/specs/logout-button-not-working/bugfix.md
  .kiro/specs/logout-button-not-working/design.md
  .kiro/specs/token-killer/.config.kiro
  .kiro/specs/token-killer/design.md
  .kiro/specs/token-killer/requirements.md
  .kiro/specs/token-killer/tasks.md
  .kiro/specs/universal-posting-scheduler/.config.kiro
  .kiro/specs/universal-posting-scheduler/design.md
  .kiro/specs/universal-posting-scheduler/requirements.md
  .kiro/specs/video-upload-multi-platform/.config.kiro
  .kiro/specs/video-upload-multi-platform/design.md
  .kiro/specs/video-upload-multi-platform/requirements.md
  meta-publisher/server/index.js
  next.config.ts
  src/components/dashboard/ChannelConnector.tsx
  src/components/dashboard/NotificationBell.tsx
  src/components/dashboard/live/countdown-timer.tsx
  src/components/dashboard/live/go-live-button.tsx
  src/components/dashboard/live/stream-key-card.tsx
  src/components/dashboard/live/stream-scheduler.tsx
  src/components/dashboard/live/stream-status-card.tsx
  src/components/dashboard/live/stream-title-editor.tsx
  src/i18n/fr/breadcrumbs.json
  src/i18n/fr/error.json
  src/i18n/fr/layout.footer.json
  src/i18n/fr/layout.header.json
  src/i18n/fr/notFound.json
  src/i18n/fr/seo.json
  src/i18n/request.ts
  src/lib/auth/password-security/AUTHENTICATION_SERVICE.md
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): complete French translation - all 43 files
  src/i18n/fr/minecraftContributionsPageHero.json
  src/i18n/fr/minecraftHypixelQolPageHero.json
  src/i18n/fr/minecraftModpacksPageHero.json
  src/i18n/fr/minecraftModsPageHero.json
  src/i18n/fr/minecraftPluginsPageHero.json
  src/i18n/fr/pcOptimizationPageHero.json
  src/i18n/fr/pcOptimizationTermsPageHero.json
  src/i18n/fr/pcOptimizationWhatsapp.json
  src/i18n/fr/privacyPageHero.json
  src/i18n/fr/services.json
  src/i18n/fr/servicesPageHero.json
  src/i18n/fr/termsOfServicePageHero.json
Due: prettier --write, cspell --no-must-find-files

feat(i18n): translate 6 large French files
  scripts/translate-fr.js
  src/i18n/fr/auth.json
  src/i18n/fr/channelManagement.json
  src/i18n/fr/dashboard.json
  src/i18n/fr/editors.json
  src/i18n/fr/home.json
  src/i18n/fr/landing.json
  src/i18n/fr/layout.header.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): translate ALL French files - 100% complete
  scripts/translate-remaining.js
  src/i18n/fr/minecraft.json
  src/i18n/fr/pcOptimization.json
  src/i18n/fr/publish.json
  src/i18n/fr/questions/biology.json
  src/i18n/fr/questions/language.json
  src/i18n/fr/questions/logic.json
  src/i18n/fr/questions/math.json
  src/i18n/fr/questions/philosophy.json
  src/i18n/fr/questions/physics.json
  src/i18n/fr/questions/science.json
  src/i18n/fr/questions/sociology.json
  src/i18n/fr/questions/world-history.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): add comprehensive translation coverage test
  scripts/i18n/check-params.mjs
Due: none

feat(seo,security): complete Phase 4 - sitemaps, CSP, rate limits and i18n
  next.config.js
  opencode.json
  package.json
  src/__tests__/app/sitemaps-locales.test.ts
  src/app/[locale]/pc-optimization/pc-optimization-metadata.ts
  src/app/api/payments/monero/create/route.ts
  src/app/api/payments/pix/create/route.ts
  src/app/sitemap-en.xml/route.ts
  src/app/sitemap-es.xml/route.ts
  src/app/sitemap-fr.xml/route.ts
  src/app/sitemap-pt-BR.xml/route.ts
  src/app/sitemap.xml/route.ts
  src/components/dashboard/NotificationBell.tsx
  src/i18n/request.ts
  src/lib/seo-config.ts
  src/lib/seo-sitemap.ts
  src/lib/seo-structured-data.ts
  src/lib/url-mapping.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(phase4,phase5): complete Phase 4 & Phase 5 - blog, resend, testimonials, k6, e2e, incident & backup docs
  .eslintrc.json
  docs/BACKUP_RESTORE.md
  docs/INCIDENT_RESPONSE.md
  lighthouserc.js
  package.json
  src/app/[locale]/blog/[slug]/page.tsx
  src/app/[locale]/blog/page.tsx
  src/app/api/meta/publish/route.ts
  src/app/api/youtube/upload/route.ts
  src/components/testimonials.tsx
  src/lib/ab-testing.ts
  src/lib/analytics.ts
  src/lib/blog.ts
  src/lib/resend.ts
  src/lib/testimonials.ts
  tests/e2e/french-locale-e2e.spec.ts
  tests/load/k6-api-test.js
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): sync French validation script & add missing hero cta key
  scripts/validate-i18n.js
  src/i18n/fr/pcOptimizationPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): create physical route aliases for all French paths & update middleware
  middleware.ts
  src/app/[locale]/a-propos-de-moi/page.tsx
  src/app/[locale]/affiliation-amazon/page.tsx
  src/app/[locale]/conditions-d-utilisation/page.tsx
  src/app/[locale]/connexion/page.tsx
  src/app/[locale]/editeurs/page.tsx
  src/app/[locale]/gestion-de-chaine/page.tsx
  src/app/[locale]/optimisation-de-pc/page.tsx
  src/app/[locale]/politique-de-confidentialite/page.tsx
  src/app/[locale]/s-inscrire/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(live): add stream health, viewer analytics, chat moderation & DB migration CI check (#326)
  ROADMAP.md
  package.json
  scripts/verify-db-migrations.js
  src/__tests__/integration/live-stream-moderation-flow.test.ts
  src/app/[locale]/dashboard/live/page.tsx
  src/components/dashboard/live/README.md
  src/components/dashboard/live/chat-command-palette.tsx
  src/components/dashboard/live/chat-message-list.tsx
  src/components/dashboard/live/chat-moderation-panel.tsx
  src/components/dashboard/live/stream-health-card.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/components/dashboard/live/viewer-analytics-card.tsx
  src/lib/chat/bot-responder.test.ts
  src/lib/chat/bot-responder.ts
  src/lib/chat/moderation.test.ts
  src/lib/chat/moderation.ts
  src/lib/live/stream-health.test.ts
  src/lib/live/stream-health.ts
  src/lib/live/viewer-analytics.test.ts
  src/lib/live/viewer-analytics.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: unified WebSocket relay server for Twitch + Kick + YouTube
  relay/src/kick-relay.ts
  relay/src/relay-server.ts
  relay/src/twitch-relay.ts
  src/components/dashboard/live/unified-chat.tsx
  src/hooks/use-relay-chat.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: use-relay-chat handles both old and new relay message formats
  src/hooks/use-relay-chat.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add YouTube live stream status via liveBroadcasts+videos API
  src/app/api/live/status/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove duplicate catch block in use-relay-chat
  src/hooks/use-relay-chat.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

perf: add 60s cache to /api/live/status to reduce YouTube quota consumption
  src/app/api/live/status/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: preserve page on OAuth connect + compact channels design
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/api/oauth/authorize/facebook/route.ts
  src/app/api/oauth/authorize/instagram/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/linkedin/route.ts
  src/app/api/oauth/authorize/tiktok/route.ts
  src/app/api/oauth/authorize/twitch/route.ts
  src/app/api/youtube/link/start/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files
