Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add nav breakpoint (880px) + mid state with About+Services before hamburger
  src/app/globals.css
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update Playwright test IDs to match header mid-tier naming (t1/t2)
  src/components/layout/header.tsx
  tests/nav-responsive.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: relax markdownlint for AI compatibility + add local markdownlint script to test:all
  .github/workflows/ci.yml
  .markdownlint.json
  .markdownlintignore
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: prevent mid tier nav elements from being visible at desktop width
  src/components/layout/header.tsx
  tests/nav-responsive.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: dropdown mutual exclusion + hide mid tiers on hamburger open
  src/components/layout/header.tsx
  tests/nav-responsive.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add Header to locale layout for global navigation
  src/app/[locale]/auth/complete-account/page.tsx
  src/app/[locale]/forgot-password/page.tsx
  src/app/[locale]/iq-test/page.tsx
  src/app/[locale]/iq-test/step/[step]/page.tsx
  src/app/[locale]/iq-test/summary/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/privacy-policy/page.tsx
  src/app/[locale]/terms-of-service/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: prevent bg-clip-text descender clipping on Minecraft page titles
  src/app/[locale]/minecraft/contributions/page.tsx
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/app/[locale]/minecraft/mods/page.tsx
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/minecraft/plugins/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: replace bg-clip-text gradient with solid color on Minecraft pages
  src/app/[locale]/minecraft/contributions/page.tsx
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/app/[locale]/minecraft/mods/page.tsx
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/minecraft/plugins/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add Services landing page with localized routes, submenu, and nav link
  src/app/[locale]/services/page.tsx
  src/app/[locale]/services/services-submenu.tsx
  src/components/layout/header.tsx
  src/i18n/de/services.json
  src/i18n/en/services.json
  src/i18n/es/services.json
  src/i18n/pt-BR/services.json
  src/i18n/request.ts
  src/lib/url-mapping.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(#67): reach 100% branch coverage for session.ts
  src/lib/auth/session.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

style(#67): format session.test.ts with Prettier
  src/lib/auth/session.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

ci: sync Node.js version with project .nvmrc
  .github/workflows/ci.yml
Due: prettier --write

test(session): add tests and coverage for issue #67
  .env.local.example
  package.json
  src/__tests__/app/metadata-all-pages.test.ts
  src/app/[locale]/services/__tests__/services-submenu.test.tsx
  src/app/api/user/channels/route.ts
  src/lib/auth/get-current-user.ts
  tests/services-landing.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: ignore .opencode in markdownlint
  .github/workflows/ci.yml
  package.json
Due: prettier --write, cspell --no-must-find-files

style: run prettier to fix formatting issues
  .opencode/plans/social-connections-implementation.md
  coverage-session-out.txt
  src/app/[locale]/services/__tests__/services-submenu.test.tsx
  src/app/api/user/channels/route.ts
  tests/services-landing.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: update cspell dictionary
  project-words.txt
Due: none

test: fix massive test failures by improving vitest.setup.ts mocks
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: cspell
  cspell.json
  spell_output.txt
Due: prettier --write, cspell --no-must-find-files

Refactor AuthenticationService to use Repository pattern (Fixes #68)
  src/__tests__/security/password-storage-security.test.ts
  src/lib/auth/password-security/argon2id-hasher.test.ts
  src/lib/auth/password-security/auth-audit-service.ts
  src/lib/auth/password-security/auth-repository.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Refactor AuthenticationService to use Repository pattern (Fixes #68) (#77)
  src/__tests__/security/password-storage-security.test.ts
  src/lib/auth/password-security/argon2id-hasher.test.ts
  src/lib/auth/password-security/auth-audit-service.ts
  src/lib/auth/password-security/auth-repository.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: add rate-limiter degradation, redis, and error handling tests
  src/__tests__/auth/rate-limiter-degradation.test.ts
  src/__tests__/auth/rate-limiter-redis.test.ts
  src/__tests__/auth/rate-limiter.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: improve user.ts test coverage to 100%
  src/lib/auth/user.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

dependencies(#69): update resend from ^6.12.0 to ^6.16.0
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

test(#70): add comprehensive test coverage for Services landing page
  src/app/[locale]/services/__tests__/metadata.test.ts
  src/app/[locale]/services/__tests__/services-submenu.test.tsx
  tests/e2e/services.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(#71): fix 14 failing test files in coverage rescue phase 1a
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/components/dashboard-accessibility.test.tsx
  src/__tests__/components/dashboard-mobile-responsive.test.tsx
  src/__tests__/components/theme-provider.test.tsx
  src/components/dashboard/DashboardLayout.test.tsx
  src/components/publish/ContentCreator.test.tsx
  src/components/publish/FilterBar.test.tsx
  src/components/publish/PublishContainer.test.tsx
  src/components/publish/UniversalPostingButton.test.tsx
  src/components/settings/BillingSection.test.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/components/settings/PreferencesSection.test.tsx
  src/lib/auth/captcha-verifier.test.ts
  src/lib/auth/password-security/salt-generator.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(#71): fix final 2 test failures - Phase 1b complete
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/components/theme-provider.test.tsx
  src/__tests__/lib/validation-email-property.test.ts
  src/__tests__/security/password-storage-security.test.ts
  src/components/dashboard/DashboardLayout.test.tsx
  src/components/publish/ContentCreator.test.tsx
  src/components/publish/PublishContainer.test.tsx
  src/components/publish/UniversalPostingButton.test.tsx
  src/components/settings/BillingSection.test.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/components/settings/PreferencesSection.test.tsx
  src/lib/auth/password-security/salt-generator.test.ts
  src/middleware/auth-middleware.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(validation): split 988-line god object into 8 domain modules
  src/lib/validation.ts
  src/lib/validation/date.ts
  src/lib/validation/email.ts
  src/lib/validation/form.ts
  src/lib/validation/index.ts
  src/lib/validation/name.ts
  src/lib/validation/password.ts
  src/lib/validation/phone.ts
  src/lib/validation/utils.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(test): stabilize test suite and fix coverage reporting
  src/__tests__/app/editors-pages.test.tsx
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/bugfix/logout-button-preservation.test.tsx
  src/__tests__/components/dashboard-accessibility.test.tsx
  src/__tests__/components/dashboard-mobile-responsive.test.tsx
  src/__tests__/components/dashboard-tablet-responsive.test.tsx
  src/components/dashboard/DashboardLayout.test.tsx
  src/components/dashboard/Sidebar.test.tsx
  src/components/publish/ContentCreator.test.tsx
  src/components/publish/UniversalPostingButton.test.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/components/settings/PreferencesSection.test.tsx
  src/lib/auth/password-security/argon2id-hasher.test.ts
  src/test-utils/next-intl-mock.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore(deps): update resend from ^6.12.0 to ^6.16.0
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

test: add comprehensive tests for Services landing page
  src/app/[locale]/services/__tests__/ServicesSubmenu.test.tsx
  src/app/[locale]/services/__tests__/metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: update CHANGELOG and project docs for cycle 2026-06-29-1400
  CHANGELOG.md
Due: prettier --write, cspell --no-must-find-files

chore(deps): update resend from ^6.12.0 to ^6.16.0 (#88)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

test: add comprehensive tests for Services landing page (#89)
  src/app/[locale]/services/__tests__/ServicesSubmenu.test.tsx
  src/app/[locale]/services/__tests__/metadata.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(test): stabilize test suite - 20 files fixed, coverage exclusion added (#87)
  src/__tests__/app/editors-pages.test.tsx
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/bugfix/logout-button-preservation.test.tsx
  src/__tests__/components/dashboard-accessibility.test.tsx
  src/__tests__/components/dashboard-mobile-responsive.test.tsx
  src/__tests__/components/dashboard-tablet-responsive.test.tsx
  src/components/dashboard/DashboardLayout.test.tsx
  src/components/dashboard/Sidebar.test.tsx
  src/components/publish/ContentCreator.test.tsx
  src/components/publish/UniversalPostingButton.test.tsx
  src/components/settings/ChannelsSection.test.tsx
  src/components/settings/PreferencesSection.test.tsx
  src/lib/auth/password-security/argon2id-hasher.test.ts
  src/test-utils/next-intl-mock.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(validation): split 988-line god object into 8 domain modules (#86)
  src/lib/validation.ts
  src/lib/validation/date.ts
  src/lib/validation/email.ts
  src/lib/validation/form.ts
  src/lib/validation/index.ts
  src/lib/validation/name.ts
  src/lib/validation/password.ts
  src/lib/validation/phone.ts
  src/lib/validation/utils.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(auth): extract RegistrationService and LoginService, add DI interfaces
  src/lib/auth/password-security/auth-service-types.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/login-service.ts
  src/lib/auth/password-security/registration-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(auth): extract RegistrationService and LoginService, add DI interfaces (#92)
  src/lib/auth/password-security/auth-service-types.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/login-service.ts
  src/lib/auth/password-security/registration-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: add middleware and validation test coverage (Phase 2)
  src/lib/auth/validation.test.ts
  src/lib/middleware.test.ts
  src/middleware/cors.test.ts
  src/middleware/https-enforcement.test.ts
  src/middleware/security-headers.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
