Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

docs(i18n): add persistent I18N_AUDIT generator and coverage report
  cspell.json
  docs/I18N_AUDIT.md
  package-lock.json
  package.json
  project-words.txt
  scripts/gen-i18n-audit.mjs
Due: prettier --write, cspell --no-must-find-files

feat(i18n): translate P0 pages (blog, obs, checkout, chat-popout)
  docs/I18N_AUDIT.md
  package-lock.json
  package.json
  src/app/[locale]/blog/[slug]/page.tsx
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/dashboard/live/chat-popout/page.tsx
  src/app/[locale]/obs/page.tsx
  src/app/[locale]/payments/checkout/page.tsx
  src/i18n/de/blog.json
  src/i18n/de/dashboard.json
  src/i18n/de/payments.json
  src/i18n/en/blog.json
  src/i18n/en/dashboard.json
  src/i18n/en/payments.json
  src/i18n/es/blog.json
  src/i18n/es/dashboard.json
  src/i18n/es/payments.json
  src/i18n/fr/blog.json
  src/i18n/fr/dashboard.json
  src/i18n/fr/payments.json
  src/i18n/pt-BR/blog.json
  src/i18n/pt-BR/dashboard.json
  src/i18n/pt-BR/payments.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): P1 metadata & breadcrumbs (seo/breadcrumbs namespaces, getTranslations)
  cspell.json
  docs/I18N_AUDIT.md
  package.json
  scripts/gen-i18n-audit.mjs
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/channel-management/channel-management-breadcrumbs.ts
  src/app/[locale]/editors/editors-breadcrumbs.ts
  src/app/[locale]/editors/editors-metadata.ts
  src/app/[locale]/pc-optimization/pc-optimization-metadata.ts
  src/i18n/de/aboutMe.json
  src/i18n/de/channelManagement.json
  src/i18n/de/editors.json
  src/i18n/de/pcOptimization.json
  src/i18n/en/aboutMe.json
  src/i18n/en/channelManagement.json
  src/i18n/en/editors.json
  src/i18n/en/pcOptimization.json
  src/i18n/es/aboutMe.json
  src/i18n/es/channelManagement.json
  src/i18n/es/editors.json
  src/i18n/es/pcOptimization.json
  src/i18n/fr/aboutMe.json
  src/i18n/fr/channelManagement.json
  src/i18n/fr/editors.json
  src/i18n/fr/pcOptimization.json
  src/i18n/pt-BR/aboutMe.json
  src/i18n/pt-BR/channelManagement.json
  src/i18n/pt-BR/editors.json
  src/i18n/pt-BR/pcOptimization.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): P1 legado cleanup — remove dead /dashboard duplicates and update audit
  docs/I18N_AUDIT.md
  package.json
  scripts/gen-i18n-audit.mjs
  src/app/dashboard/credits/page.tsx
  src/app/dashboard/dashboard-layout-client.tsx
  src/app/dashboard/insights/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/publish/page.tsx
  src/app/dashboard/settings/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): translations
  docs/I18N_AUDIT.md
  scripts/i18n/check-params.mjs
  src/i18n/fr/aboutMe.json
  src/i18n/fr/amazonAffiliate.json
  src/i18n/fr/auth.json
  src/i18n/fr/blog.json
  src/i18n/fr/channelManagement.json
  src/i18n/fr/dashboard.json
  src/i18n/fr/editors.json
  src/i18n/fr/home.json
  src/i18n/fr/homePageHero.json
  src/i18n/fr/landing.json
  src/i18n/fr/publish.json
Due: prettier --write, cspell --no-must-find-files

fix(lint): resolve remaining ESLint warnings (react-hooks deps, unused vars)
  src/app/[locale]/obs/page.tsx
  src/components/dashboard/live/stream-title-editor.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: fix channel disconnect fallback, global chat commands, monochrome visuals, cookie vault
  scripts/patch-monochrome.ts
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/home/landing-pricing-section.tsx
  src/app/[locale]/minecraft/contributions/page.tsx
  src/app/[locale]/minecraft/minecraft-submenu.tsx
  src/app/[locale]/minecraft/modpacks/hypixel-qol/page.tsx
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/app/[locale]/minecraft/mods/page.tsx
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/minecraft/plugins/page.tsx
  src/app/[locale]/services/page.tsx
  src/app/[locale]/services/services-submenu.tsx
  src/app/globals.css
  src/lib/chat/custom-commands.ts
  src/lib/cookies/cookie-vault.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: chat commands (!titleall/!categoryall), unofficial X adapter, cookie vault, i18n integration disclosures
  src/app/api/live/update/route.ts
  src/components/settings/IntegrationsSection.tsx
  src/hooks/use-chat-sse.ts
  src/i18n/de/dashboard.json
  src/i18n/en/dashboard.json
  src/i18n/es/dashboard.json
  src/i18n/fr/dashboard.json
  src/i18n/pt-BR/dashboard.json
  src/lib/chat/custom-commands.ts
  src/lib/live/stream-updater.test.ts
  src/lib/live/stream-updater.ts
  src/lib/realtime/message-aggregator.ts
  src/lib/x/unofficial-x-adapter.ts
  src/lib/x/x-integration-provider.ts
  supabase/migrations/20260901_client_sessions.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(ui): enforce semantic background & contrast tokens across all buttons and sections, eliminate duplicate headers, and update pt-BR home translations
  src/app/500.tsx
  src/app/[locale]/about-me/page.tsx
  src/app/[locale]/amazon-affiliate/page.tsx
  src/app/[locale]/auth/complete-account/components/field-editor.tsx
  src/app/[locale]/auth/complete-account/components/progress-indicator.tsx
  src/app/[locale]/auth/complete-account/steps/step-1-prefilled.tsx
  src/app/[locale]/auth/complete-account/steps/step-2-new-fields.tsx
  src/app/[locale]/channel-management/channel-management-view.tsx
  src/app/[locale]/dashboard/live/page.tsx
  src/app/[locale]/editors/editors-form.tsx
  src/app/[locale]/editors/editors-view.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/forgot-password/forgot-password-form.tsx
  src/app/[locale]/home/channel-management-section.tsx
  src/app/[locale]/home/contact-section.tsx
  src/app/[locale]/home/hero-section.tsx
  src/app/[locale]/home/landing-pricing-section.tsx
  src/app/[locale]/home/projects-section.tsx
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/payments/checkout/page.tsx
  src/app/[locale]/pc-optimization/terms/page.tsx
  src/app/[locale]/register/register-form-multistep.tsx
  src/app/[locale]/register/register-form.tsx
  src/app/[locale]/reset-password/reset-password-form.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/components/analytics/performance-monitor.tsx
  src/components/auth/google-login-button.tsx
  src/components/auth/unified-signin-form.tsx
  src/components/insights/TimePeriodSelector.tsx
  src/components/registration/NavigationButtons.tsx
  src/components/registration/RegistrationFlow.tsx
  src/components/registration/SuccessMessage.tsx
  src/i18n/pt-BR/home.json
  tmp-about.txt
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore(db): consolidate all migrations into single baseline 20260901000000_baseline.sql (0 clients, clean slate policy)
  supabase/migrations/.gitkeep
  supabase/migrations/20260630_missing_scheduled_posts_tables.sql
  supabase/migrations/20260702_fix_production_schema.sql
  supabase/migrations/20260703_fix_empty_token_hash.sql
  supabase/migrations/20260704_create_oauth_tokens_table.sql
  supabase/migrations/20260712_scheduled_streams_table.sql
  supabase/migrations/20260720_meta_publish_tasks.sql
  supabase/migrations/20260722_create_credits_tables.sql
  supabase/migrations/20260901000000_baseline.sql
  supabase/migrations/20260901_client_sessions.sql
  supabase/migrations/20260901_fix_users_table_picture.sql
Due: none

chore: remove leftover tmp-about.txt
  tmp-about.txt
Due: none

fix(contact): replace gabrieltoth.com contact emails with bentoexposed@gmail.com across all locales and core libs
  src/i18n/de/home.json
  src/i18n/de/privacyPolicy.json
  src/i18n/de/termsOfService.json
  src/i18n/en/home.json
  src/i18n/en/privacyPolicy.json
  src/i18n/en/termsOfService.json
  src/i18n/es/home.json
  src/i18n/es/privacyPolicy.json
  src/i18n/es/termsOfService.json
  src/i18n/fr/home.json
  src/i18n/fr/privacyPolicy.json
  src/i18n/fr/termsOfService.json
  src/i18n/pt-BR/home.json
  src/i18n/pt-BR/privacyPolicy.json
  src/i18n/pt-BR/termsOfService.json
  src/lib/resend.ts
  src/lib/seo-config.ts
  src/lib/seo-structured-data.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(deps): resolve 7 high-severity Dependabot vulnerabilities (brace-expansion, fast-uri, js-yaml, nanoid, image-size, tar-fs, ws)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

feat(security): aggressive audit fix, removed @lhci/cli, upgraded all vulnerable deps, zero vulnerabilities left. Also removes AWS KMS refs and translates missing keys.
  docs/oauth-flow.md
  package-lock.json
  package.json
  scripts/i18n/check-params.mjs
  src/app/api/auth/login/route.ts
  src/i18n/fr/auth.json
  src/i18n/fr/minecraft.json
  src/lib/youtube/TOKEN_ENCRYPTION_GUIDE.md
  src/lib/youtube/token-encryption.test.ts
  src/lib/youtube/token-encryption.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore(deps): upgrade storybook 10.5→10.6, fix all fixable vulns; remove lhci lighthouse chain; replace uuid with crypto.randomUUID; drops aws references
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

feat(location): Town search with MapLibre & Nominatim (OSM) closes #421
  package-lock.json
  package.json
  src/app/[locale]/town-search/page.tsx
  src/components/location/town-search.tsx
  src/i18n/de/townSearch.json
  src/i18n/en/townSearch.json
  src/i18n/es/townSearch.json
  src/i18n/fr/townSearch.json
  src/i18n/pt-BR/townSearch.json
  src/i18n/request.ts
  src/lib/location/nominatim.test.ts
  src/lib/location/nominatim.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(auth): fix parameter index deduction in Google OAuth upsert user query (closes #428)
  src/lib/auth/user.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(testing): add Selenium stealth test suite and strongly typed webhooks (closes #430)
  package-lock.json
  package.json
  project-words.txt
  src/__tests__/e2e-selenium/stealth-navigation.test.ts
  src/app/api/webhooks/facebook/route.ts
  src/app/api/webhooks/instagram/route.ts
  src/app/api/webhooks/tiktok/route.ts
  src/lib/testing/selenium-stealth.test.ts
  src/lib/testing/selenium-stealth.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(testing): profile-based Selenium crawling, component standards linter & registry docs (closes #432)
  docs/COMPONENT_REGISTRY.md
  package.json
  project-words.txt
  scripts/check-component-standards.mjs
  src/__tests__/e2e-selenium/full-site-crawl.test.ts
  src/__tests__/e2e-selenium/stealth-navigation.test.ts
  src/app/[locale]/afiliados-amazon/page.tsx
  src/app/[locale]/anmelden/page.tsx
  src/app/[locale]/connexion/page.tsx
  src/app/[locale]/dashboard/cloner/page.tsx
  src/app/[locale]/dashboard/repost/page.tsx
  src/app/[locale]/iniciar-sesion/page.tsx
  src/app/[locale]/minecraft/contributions/page.tsx
  src/app/[locale]/minecraft/modpacks/hypixel-qol/page.tsx
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/app/[locale]/minecraft/mods/page.tsx
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/minecraft/plugins/page.tsx
  src/app/[locale]/registrar/page.tsx
  src/app/[locale]/registrarse/page.tsx
  src/app/[locale]/registrieren/page.tsx
  src/app/[locale]/s-inscrire/page.tsx
  src/app/[locale]/servicios/page.tsx
  src/app/[locale]/servicos/page.tsx
  src/app/[locale]/streamer/[slug]/page.tsx
  src/components/dashboard/groups/channel-group-manager.tsx
  src/components/dashboard/live/chat-command-palette.tsx
  src/components/dashboard/live/chat-moderation-panel.tsx
  src/components/dashboard/live/stream-health-card.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/components/dashboard/live/user-card.tsx
  src/components/dashboard/live/viewer-analytics-card.tsx
  src/components/insights/UserActivityHeatmap.tsx
  src/lib/testing/selenium-stealth.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(a11y): remove duplicate language selector, zero ESLint warnings, tokenize remaining greys (closes #434)
  scripts/check-component-standards.mjs
  src/__tests__/e2e-selenium/full-site-crawl.test.ts
  src/app/[locale]/afiliados-amazon/page.tsx
  src/app/[locale]/anmelden/page.tsx
  src/app/[locale]/auth/complete-account/steps/step-1-prefilled.tsx
  src/app/[locale]/channel-management/channel-management-view.tsx
  src/app/[locale]/connexion/page.tsx
  src/app/[locale]/dashboard/cloner/page.tsx
  src/app/[locale]/iniciar-sesion/page.tsx
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/pc-optimization/pc-optimization-view.tsx
  src/app/[locale]/registrar/page.tsx
  src/app/[locale]/registrarse/page.tsx
  src/app/[locale]/registrieren/page.tsx
  src/app/[locale]/s-inscrire/page.tsx
  src/app/[locale]/servicios/page.tsx
  src/app/[locale]/servicos/page.tsx
  src/app/[locale]/streamer/[slug]/page.tsx
  src/app/api/groups/[groupId]/networks/[platform]/route.ts
  src/app/api/groups/[groupId]/networks/route.ts
  src/app/api/webhooks/facebook/route.ts
  src/components/auth/login-form-captcha.test.tsx
  src/components/auth/register-form-captcha.test.tsx
  src/components/dashboard/groups/channel-group-manager.tsx
  src/components/publish/wizard/TagInput.tsx
  src/components/registration/AuthenticationEntry.tsx
  src/components/registration/GoogleOAuthPersonalInfo.stories.tsx
  src/components/settings/SettingsContainer.tsx
  src/components/ui/card.tsx
  src/hooks/use-onboarding-on-dashboard.ts
  src/lib/networks/network-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(design): align PC optimization page to design system, fix unreadable gradient buttons (closes #436)
  src/app/[locale]/pc-optimization/pc-optimization-hero.tsx
  src/app/[locale]/pc-optimization/pc-optimization-view.tsx
  src/app/[locale]/pc-optimization/terms/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(design): remove duplicate pretitle, fix ViraTrend dark section, strip data-transparency banner (closes #438)
  src/app/[locale]/channel-management/channel-management-view.tsx
  src/app/[locale]/home/channel-management-section.tsx
  src/components/layout/footer.tsx
  src/i18n/de/aboutMe.json
  src/i18n/en/aboutMe.json
  src/i18n/es/aboutMe.json
  src/i18n/fr/aboutMe.json
  src/i18n/pt-BR/aboutMe.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(auth): re-link Google identity to existing email account on login (closes #440)
  src/__tests__/lib/auth/user.property.test.ts
  src/lib/auth/user.test.ts
  src/lib/auth/user.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(i18n): French translations, site contact email fix & duplicate card cleanup
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/services/page.tsx
  src/components/insights/UserActivityHeatmap.tsx
  src/i18n/de/home.json
  src/i18n/de/privacyPolicy.json
  src/i18n/de/termsOfService.json
  src/i18n/en/home.json
  src/i18n/en/privacyPolicy.json
  src/i18n/en/termsOfService.json
  src/i18n/es/home.json
  src/i18n/es/privacyPolicy.json
  src/i18n/es/termsOfService.json
  src/i18n/fr/channelManagement.json
  src/i18n/fr/home.json
  src/i18n/fr/landing.json
  src/i18n/fr/minecraft.json
  src/i18n/fr/minecraftPageHero.json
  src/i18n/fr/pcOptimization.json
  src/i18n/fr/privacyPolicy.json
  src/i18n/fr/termsOfService.json
  src/i18n/pt-BR/home.json
  src/i18n/pt-BR/privacyPolicy.json
  src/i18n/pt-BR/termsOfService.json
  src/lib/resend.ts
  src/lib/seo-config.ts
  src/lib/seo-structured-data.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(auth): email Sender via Resend + Phone OTP via Twilio Verify
  .env.local.example
  .env.production.example
  src/app/[locale]/auth/complete-account/steps/step-2-new-fields.tsx
  src/app/api/auth/otp/send/route.test.ts
  src/app/api/auth/otp/send/route.ts
  src/app/api/auth/otp/verify/route.test.ts
  src/app/api/auth/otp/verify/route.ts
  src/lib/auth/account-completion-validation.test.ts
  src/lib/auth/account-completion-validation.ts
  src/lib/auth/account-completion.property.test.ts
  src/lib/auth/email-service.test.ts
  src/lib/auth/email-service.ts
  src/lib/otp-service.test.ts
  src/lib/otp-service.ts
  src/lib/resend.test.ts
  src/lib/resend.ts
  src/lib/twilio.test.ts
  src/lib/twilio.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore(security): Cloudflare integration + security hardening
  .env.local.example
  .env.production.example
  public/.well-known/security.txt
  public/security.txt
Due: none

chore(deps): fix critical RCE + high vulnerabilities
  package-lock.json
  package.json
  relay/package-lock.json
Due: prettier --write, cspell --no-must-find-files

fix(channels): correct session handling, database source, and channelId scoping in disconnect endpoint
  src/__tests__/security/user-channels-security.test.ts
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/api/channels/disconnect/route.ts
  src/lib/api/channels.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(channels): correct session handling, database source, and channelId scoping in disconnect endpoint (#445)
  package-lock.json
  package.json
  relay/package-lock.json
  src/__tests__/security/user-channels-security.test.ts
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/api/channels/disconnect/route.ts
  src/lib/api/channels.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: remove emojis from env.example files and fix formatting
  .env.local.example
  .env.production.example
  scripts/check-component-standards.mjs
  src/app/[locale]/home/channel-management-section.tsx
  src/app/[locale]/pc-optimization/pc-optimization-view.tsx
  src/app/api/auth/complete-account/route.test.ts
  src/components/dashboard/groups/channel-group-manager.tsx
  src/components/ui/card.tsx
  src/lib/networks/network-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(disconnect): delete social_networks records instead of marking as disconnected
  src/app/api/channels/disconnect/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(chat-commands): implement chat commands dashboard management system
  src/app/[locale]/dashboard/chat-commands/page.tsx
  src/app/[locale]/dashboard/dashboard-layout-client.tsx
  src/app/api/chat-commands/route.test.ts
  src/app/api/chat-commands/route.ts
  src/components/dashboard/DashboardLayout.tsx
  src/components/dashboard/Sidebar.tsx
  src/i18n/de/dashboard.json
  src/i18n/en/dashboard.json
  src/i18n/es/dashboard.json
  src/i18n/fr/dashboard.json
  src/i18n/pt-BR/dashboard.json
  src/lib/chat/types.ts
  src/lib/realtime/message-aggregator.ts
  supabase/migrations/20260914233609_create_custom_commands.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(message-aggregator): add YouTube adapter support to registry and sendMessage
  src/lib/realtime/message-aggregator.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(unified-chat): handle potentially undefined content in deduplicateAndGroup
  src/components/dashboard/live/unified-chat.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(live): resolve YouTube live status detection, multi-platform chat commands and title broadcasts (closes #448)
  ROADMAP.md
  src/app/api/live/chat/send/route.ts
  src/app/api/live/status/route.ts
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/chat/youtube-live-chat-adapter.ts
  src/lib/live/stream-updater.ts
  src/lib/realtime/message-aggregator.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
