Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

feat(realtime): implement SSE backend for real-time unified chat
  src/app/api/live/chat/stream/route.ts
  src/components/dashboard/live/unified-chat.tsx
  src/hooks/use-chat-sse.test.ts
  src/hooks/use-chat-sse.ts
  src/lib/realtime/connection-store.test.ts
  src/lib/realtime/connection-store.ts
  src/lib/realtime/message-aggregator.test.ts
  src/lib/realtime/message-aggregator.ts
  src/lib/realtime/sse-manager.test.ts
  src/lib/realtime/sse-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(live): add stream key management for Twitch and Kick
  src/app/[locale]/dashboard/live/page.tsx
  src/app/api/live/stream-key/route.test.ts
  src/app/api/live/stream-key/route.ts
  src/components/dashboard/live/stream-key-card.tsx
  src/lib/twitch/config.ts
  src/lib/twitch/index.ts
  src/lib/twitch/oauth-service.test.ts
  src/lib/twitch/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(live): add scheduled streams with Discord and Telegram notifications
  .env.local.example
  src/app/[locale]/dashboard/live/page.tsx
  src/app/api/streams/schedule/route.test.ts
  src/app/api/streams/schedule/route.ts
  src/components/dashboard/live/countdown-timer.tsx
  src/components/dashboard/live/go-live-button.tsx
  src/components/dashboard/live/stream-scheduler.tsx
  src/config/environment.ts
  src/i18n/de/dashboard.json
  src/i18n/en/dashboard.json
  src/i18n/es/dashboard.json
  src/i18n/pt-BR/dashboard.json
  src/lib/notifications/discord-stream-notifier.test.ts
  src/lib/notifications/discord-stream-notifier.ts
  src/lib/notifications/telegram-stream-notifier.test.ts
  src/lib/notifications/telegram-stream-notifier.ts
  src/lib/stream/schedule-service.test.ts
  src/lib/stream/schedule-service.ts
  src/middleware/cors.test.ts
  src/middleware/security-headers.test.ts
  supabase/migrations/20260712_scheduled_streams_table.sql
  supabase/schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(live-streaming): add tests for Twitch/Kick OAuth, chat adapters, and live dashboard UI
  src/__tests__/app/dashboard/live/page.test.tsx
  src/__tests__/components/dashboard/live/stream-status-card.test.tsx
  src/__tests__/components/dashboard/live/stream-title-editor.test.tsx
  src/__tests__/components/dashboard/live/unified-chat.test.tsx
  src/__tests__/lib/chat/kick-adapter.test.ts
  src/__tests__/lib/chat/twitch-adapter.test.ts
  src/__tests__/lib/kick/kick-config.test.ts
  src/__tests__/lib/kick/kick-oauth-service.test.ts
  src/__tests__/lib/twitch/twitch-config.test.ts
  src/__tests__/lib/twitch/twitch-oauth-service.test.ts
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/dashboard/live/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/app/api/live/status/route.ts
  src/app/api/live/update/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/twitch/route.ts
  src/app/api/oauth/authorize/twitter/route.ts
  src/app/api/oauth/callback/twitter/route.ts
  src/components/dashboard/Sidebar.tsx
  src/components/dashboard/live/stream-status-card.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/i18n/de/dashboard.json
  src/i18n/es/dashboard.json
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/linkedin/config.ts
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager-core.ts
  src/lib/oauth/oauth-types.ts
  src/lib/posting/adapters/twitter.ts
  src/lib/queue/background-processor.ts
  src/lib/twitter/oauth1-service.ts
  src/lib/youtube/config.test.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add README documentation for live streaming modules
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/dashboard/live/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/app/api/live/status/route.ts
  src/app/api/live/update/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/twitch/route.ts
  src/app/api/oauth/authorize/twitter/route.ts
  src/app/api/oauth/callback/twitter/route.ts
  src/components/dashboard/Sidebar.tsx
  src/components/dashboard/live/README.md
  src/components/dashboard/live/stream-status-card.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/i18n/de/dashboard.json
  src/i18n/es/dashboard.json
  src/lib/chat/README.md
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/kick/README.md
  src/lib/linkedin/config.ts
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager-core.ts
  src/lib/oauth/oauth-types.ts
  src/lib/posting/adapters/twitter.ts
  src/lib/queue/background-processor.ts
  src/lib/twitch/README.md
  src/lib/twitter/oauth1-service.ts
  src/lib/youtube/config.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: update npm dependencies (npm update + TypeScript 7 + ESLint 10 + markdownlint-cli2 0.23)
  package-lock.json
  package.json
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/dashboard/live/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/app/api/live/status/route.ts
  src/app/api/live/update/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/twitch/route.ts
  src/app/api/oauth/authorize/twitter/route.ts
  src/app/api/oauth/callback/twitter/route.ts
  src/components/dashboard/Sidebar.tsx
  src/components/dashboard/live/stream-status-card.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/i18n/de/dashboard.json
  src/i18n/es/dashboard.json
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/linkedin/config.ts
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager-core.ts
  src/lib/oauth/oauth-types.ts
  src/lib/posting/adapters/twitter.ts
  src/lib/queue/background-processor.ts
  src/lib/twitter/oauth1-service.ts
  src/lib/youtube/config.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(auth): split session.ts into 3 focused modules with barrel re-export
  src/lib/auth/index.ts
  src/lib/auth/session-core.test.ts
  src/lib/auth/session-core.ts
  src/lib/auth/session-remember-me.test.ts
  src/lib/auth/session-remember-me.ts
  src/lib/auth/session-tokens.test.ts
  src/lib/auth/session-tokens.ts
  src/lib/auth/session.test.ts
  src/lib/auth/session.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(publish): split PublishWizard into modular hooks and components
  src/components/publish/wizard/CloseConfirmDialog.test.tsx
  src/components/publish/wizard/CloseConfirmDialog.tsx
  src/components/publish/wizard/PublishWizard.test.tsx
  src/components/publish/wizard/PublishWizard.tsx
  src/components/publish/wizard/StepProgressBar.test.tsx
  src/components/publish/wizard/StepProgressBar.tsx
  src/components/publish/wizard/types.ts
  src/components/publish/wizard/usePublishDraft.test.ts
  src/components/publish/wizard/usePublishDraft.ts
  src/components/publish/wizard/usePublishExecution.test.ts
  src/components/publish/wizard/usePublishExecution.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(publish): split YouTubeMetadataForm into 7 section components
  src/components/publish/wizard/AudienceSection.tsx
  src/components/publish/wizard/BasicInfoSection.test.tsx
  src/components/publish/wizard/BasicInfoSection.tsx
  src/components/publish/wizard/CardsEndScreensSection.tsx
  src/components/publish/wizard/ContentDisclosureSection.tsx
  src/components/publish/wizard/MonetizationSection.tsx
  src/components/publish/wizard/PrivacyScheduleSection.test.tsx
  src/components/publish/wizard/PrivacyScheduleSection.tsx
  src/components/publish/wizard/VideoUploadSection.test.tsx
  src/components/publish/wizard/VideoUploadSection.tsx
  src/components/publish/wizard/YouTubeMetadataForm.test.tsx
  src/components/publish/wizard/YouTubeMetadataForm.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(tiktok): add coverage for OAuth token operations
  src/app/api/oauth/authorize/tiktok/route.test.ts
  src/app/api/posts/token-normalize.test.ts
  src/lib/tiktok/oauth-service.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

ci: make test suite blocking by removing continue-on-error
  .github/workflows/ci.yml
Due: prettier --write

docs: add comprehensive OAuth flow architecture documentation
  docs/oauth-flow.md
Due: prettier --write, cspell --no-must-find-files

chore: release v1.24.0
  CHANGELOG.md
  ROADMAP.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: correct Twitch redirect URI default, Kick scopes, and chat platform display
  src/app/[locale]/dashboard/live/page.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/lib/kick/config.ts
  src/lib/twitch/config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(chat): add YouTube, Facebook, Instagram live chat adapters (#241)
  src/components/dashboard/live/unified-chat.tsx
  src/lib/chat/facebook-live-chat-adapter.test.ts
  src/lib/chat/facebook-live-chat-adapter.ts
  src/lib/chat/index.ts
  src/lib/chat/instagram-live-chat-adapter.test.ts
  src/lib/chat/instagram-live-chat-adapter.ts
  src/lib/chat/youtube-live-chat-adapter.test.ts
  src/lib/chat/youtube-live-chat-adapter.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(live): add stream key management for Twitch and Kick (#243)
  src/app/[locale]/dashboard/live/page.tsx
  src/app/api/live/stream-key/route.test.ts
  src/app/api/live/stream-key/route.ts
  src/components/dashboard/live/stream-key-card.tsx
  src/lib/twitch/config.ts
  src/lib/twitch/index.ts
  src/lib/twitch/oauth-service.test.ts
  src/lib/twitch/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(live-streaming): add tests for Twitch/Kick OAuth, chat adapters, and live dashboard UI (#245)
  src/__tests__/app/dashboard/live/page.test.tsx
  src/__tests__/components/dashboard/live/stream-status-card.test.tsx
  src/__tests__/components/dashboard/live/stream-title-editor.test.tsx
  src/__tests__/components/dashboard/live/unified-chat.test.tsx
  src/__tests__/lib/chat/kick-adapter.test.ts
  src/__tests__/lib/chat/twitch-adapter.test.ts
  src/__tests__/lib/kick/kick-config.test.ts
  src/__tests__/lib/kick/kick-oauth-service.test.ts
  src/__tests__/lib/twitch/twitch-config.test.ts
  src/__tests__/lib/twitch/twitch-oauth-service.test.ts
  src/app/[locale]/dashboard/channels/page.tsx
  src/app/[locale]/dashboard/live/page.tsx
  src/app/[locale]/dashboard/page.tsx
  src/app/api/live/status/route.ts
  src/app/api/live/update/route.ts
  src/app/api/oauth/authorize/kick/route.ts
  src/app/api/oauth/authorize/twitch/route.ts
  src/app/api/oauth/authorize/twitter/route.ts
  src/app/api/oauth/callback/twitter/route.ts
  src/components/dashboard/Sidebar.tsx
  src/components/dashboard/live/stream-status-card.tsx
  src/i18n/de/dashboard.json
  src/i18n/es/dashboard.json
  src/lib/chat/kick-adapter.ts
  src/lib/chat/twitch-adapter.ts
  src/lib/linkedin/config.ts
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager-core.ts
  src/lib/oauth/oauth-types.ts
  src/lib/posting/adapters/twitter.ts
  src/lib/queue/background-processor.ts
  src/lib/twitter/oauth1-service.ts
  src/lib/youtube/config.test.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add README documentation for live streaming modules (#246)
  src/components/dashboard/live/README.md
  src/lib/chat/README.md
  src/lib/kick/README.md
  src/lib/twitch/README.md
Due: prettier --write, cspell --no-must-find-files

chore: update npm dependencies (npm update + TypeScript 7 + ESLint 10 + markdownlint-cli2 0.23) (#247)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor(auth): split session.ts into 3 focused modules with barrel re-export (#248)
  src/lib/auth/index.ts
  src/lib/auth/session-core.test.ts
  src/lib/auth/session-core.ts
  src/lib/auth/session-remember-me.test.ts
  src/lib/auth/session-remember-me.ts
  src/lib/auth/session-tokens.test.ts
  src/lib/auth/session-tokens.ts
  src/lib/auth/session.test.ts
  src/lib/auth/session.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(publish): split PublishWizard into modular hooks and components (#249)
  src/components/publish/wizard/CloseConfirmDialog.test.tsx
  src/components/publish/wizard/CloseConfirmDialog.tsx
  src/components/publish/wizard/PublishWizard.test.tsx
  src/components/publish/wizard/PublishWizard.tsx
  src/components/publish/wizard/StepProgressBar.test.tsx
  src/components/publish/wizard/StepProgressBar.tsx
  src/components/publish/wizard/types.ts
  src/components/publish/wizard/usePublishDraft.test.ts
  src/components/publish/wizard/usePublishDraft.ts
  src/components/publish/wizard/usePublishExecution.test.ts
  src/components/publish/wizard/usePublishExecution.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor(publish): split YouTubeMetadataForm into 7 section components (#250)
  src/components/publish/wizard/AudienceSection.tsx
  src/components/publish/wizard/BasicInfoSection.test.tsx
  src/components/publish/wizard/BasicInfoSection.tsx
  src/components/publish/wizard/CardsEndScreensSection.tsx
  src/components/publish/wizard/ContentDisclosureSection.tsx
  src/components/publish/wizard/MonetizationSection.tsx
  src/components/publish/wizard/PrivacyScheduleSection.test.tsx
  src/components/publish/wizard/PrivacyScheduleSection.tsx
  src/components/publish/wizard/VideoUploadSection.test.tsx
  src/components/publish/wizard/VideoUploadSection.tsx
  src/components/publish/wizard/YouTubeMetadataForm.test.tsx
  src/components/publish/wizard/YouTubeMetadataForm.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test(tiktok): add coverage for OAuth token operations (#251)
  src/app/api/oauth/authorize/tiktok/route.test.ts
  src/app/api/posts/token-normalize.test.ts
  src/lib/tiktok/oauth-service.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

ci: make test suite blocking by removing continue-on-error (#252)
  .github/workflows/ci.yml
Due: prettier --write

docs: add comprehensive OAuth flow architecture documentation (#253)
  CHANGELOG.md
  ROADMAP.md
  docs/oauth-flow.md
  package.json
Due: prettier --write, cspell --no-must-find-files

chore: add .npmrc with legacy-peer-deps for Vercel build
  .npmrc
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

chore: update all dependencies to latest\ && git push
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: pin TypeScript 7.0.2 (remove caret) to fix build resolution
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: remove standalone output mode (incompatible with Vercel Turbopack)
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: use webpack (no-turbo) for Vercel build
  package.json
Due: prettier --write, cspell --no-must-find-files

Revert "fix: use webpack (no-turbo) for Vercel build"
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: specify nodeVersion 24.x in vercel.json, restore standalone output
  next.config.ts
  vercel.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove nodeVersion from vercel.json (invalid property)
  vercel.json
Due: prettier --write, cspell --no-must-find-files

debug: add custom build script to capture next build errors
  package.json
  scripts/vercel-build.js
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: simplify vercel.json to minimal config
  package.json
  scripts/vercel-build.js
  vercel.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: restore vercel.json and next.config.ts to working state
  vercel.json
Due: prettier --write, cspell --no-must-find-files

fix: remove UTF-8 BOM from package.json (Vercel JSON parser rejects it)
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: move typescript to dependencies (Vercel needs it at build time)
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

debug: capture stderr in build script
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: remove typescript.ignoreBuildErrors (triggers auto-install that fails on Vercel)
  next.config.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
