Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

fix: resolve extendSession initialization bug in useRegistration hook
  src/hooks/useRegistration.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove duplicate privacy policy text from signin page
  src/app/[locale]/signin/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: logout
  .kiro/specs/logout-button-not-working/.config.kiro
  .kiro/specs/logout-button-not-working/bugfix.md
  .kiro/specs/logout-button-not-working/design.md
  .kiro/specs/logout-button-not-working/tasks.md
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/bugfix/logout-button-preservation.test.tsx
  src/components/dashboard/DashboardLayout.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: auth titles i18n
  src/app/[locale]/signin/page.tsx
  src/i18n/de/auth.json
  src/i18n/en/auth.json
  src/i18n/es/auth.json
  src/i18n/pt-BR/auth.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add dynamic title for signup mode in sign-in page
  src/app/[locale]/signin/page.tsx
  src/app/[locale]/signin/signin-page-client.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement comprehensive authentication security enhancements
  .agents/skills/resend/references/fetch-all-templates.mjs
  .kiro/skills/resend/references/fetch-all-templates.mjs
  .kiro/specs/authentication-security-enhancements/.config.kiro
  .kiro/specs/authentication-security-enhancements/design.md
  .kiro/specs/authentication-security-enhancements/requirements.md
  .kiro/specs/authentication-security-enhancements/tasks.md
  .kiro/specs/registration-flow-button-mode-fix/.config.kiro
  .kiro/specs/registration-flow-button-mode-fix/bugfix.md
  .kiro/specs/registration-flow-button-mode-fix/design.md
  .kiro/specs/registration-flow-button-mode-fix/tasks.md
  .kiro/specs/test-suite-failures-fix/.config.kiro
  .kiro/specs/test-suite-failures-fix/bugfix.md
  .kiro/specs/test-suite-failures-fix/design.md
  .kiro/specs/test-suite-failures-fix/tasks.md
  middleware.ts
  proxy.ts
  skills-lock.json
  src/__tests__/auth/invalid-session-logout.property.test.ts
  src/__tests__/auth/logout-cookie-clearing.test.ts
  src/__tests__/lib/audit/auth-audit.test.ts
  src/__tests__/properties/deleted-session-authentication.property.test.ts
  src/__tests__/properties/logout-redirect.property.test.ts
  src/__tests__/security/logout-cookie-clearing.property.test.ts
  src/__tests__/security/logout-rate-limit-window-reset.property.test.ts
  src/__tests__/security/logout-rate-limiting.property.test.ts
  src/__tests__/security/logout-session-deletion.property.test.ts
  src/app/api/auth/logout/route.test.ts
  src/app/api/auth/logout/route.ts
  src/components/ui/button.tsx
  src/lib/audit/README.md
  src/lib/audit/auth-audit.ts
  src/lib/auth/session.test.ts
  src/lib/auth/session.ts
  src/lib/middleware/auth-middleware.ts
  src/middleware/auth-middleware.test.ts
  src/middleware/auth-middleware.ts
  src/types/supabase.ts
  supabase/schema.sql
  test-results.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(auth): make password requirements visible upfront with clear UX messaging
  .kiro/specs/authentication-security-enhancements/.config.kiro
  .kiro/specs/authentication-security-enhancements/design.md
  .kiro/specs/authentication-security-enhancements/requirements.md
  .kiro/specs/authentication-security-enhancements/tasks.md
  src/components/registration/PasswordSetup.tsx
  src/i18n/de/auth.json
  src/i18n/en/auth.json
  src/i18n/es/auth.json
  src/i18n/pt-BR/auth.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#52): implement database cleanup utility for task 1.1
  scripts/cleanup-supabase.js
  scripts/cleanup-supabase.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#53): implement cryptographically secure salt generation for Argon2id
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/salt-generator.test.ts
  src/lib/auth/password-security/salt-generator.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#54): implement Argon2id password hashing function with pepper and salt
  package-lock.json
  package.json
  src/lib/auth/password-security/argon2id-hasher.test.ts
  src/lib/auth/password-security/argon2id-hasher.ts
  src/lib/auth/password-security/index.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#55): implement rate limiter service with Supabase backing
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/rate-limiter.test.ts
  src/lib/auth/password-security/rate-limiter.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#6.1): integrate Cloudflare Turnstile frontend widget for CAPTCHA protection
  .agent/TASK_1_4_SUMMARY.md
  .agent/VERCEL_ENV_CHECKLIST.md
  .agent/VERCEL_ENV_QUICK_REFERENCE.md
  .agent/VERCEL_ENV_SETUP.md
  .kiro/specs/secure-password-storage/.config.kiro
  .kiro/specs/secure-password-storage/ARCHITECTURE_NOTES.md
  .kiro/specs/secure-password-storage/PHASE_1_COMPLETE.md
  .kiro/specs/secure-password-storage/VERCEL_SETUP.md
  .kiro/specs/secure-password-storage/design.md
  .kiro/specs/secure-password-storage/requirements.md
  .kiro/specs/secure-password-storage/tasks.md
  .kiro/steering/best-practices.md
  docker/README.md
  docker/docker-compose.yml
  scripts/generate-secrets.mjs
  src/__tests__/database/audit-logs-schema.test.ts
  src/components/auth/index.ts
  src/components/auth/login-form-captcha.test.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form-captcha.test.tsx
  src/components/auth/register-form.tsx
  src/components/auth/turnstile-widget.test.tsx
  src/components/auth/turnstile-widget.tsx
  src/lib/auth/password-security/bcrypt-validator.test.ts
  src/lib/auth/password-security/bcrypt-validator.ts
  src/lib/auth/password-security/config.test.ts
  src/lib/auth/password-security/config.ts
  src/lib/auth/password-security/hash-algorithm-detection.test.ts
  src/lib/auth/password-security/hash-algorithm-detection.ts
  src/lib/auth/password-security/types.ts
  supabase/migrations/20260501_create_password_storage_schema.sql
  supabase/schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#56): implement password input validation
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/password-input-validation.test.ts
  src/lib/auth/password-security/password-input-validation.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#57): implement user identifier sanitization for injection attack prevention
  src/__tests__/lib/auth/sanitization.test.ts
  src/lib/auth/sanitization.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#58): implement constant-time comparison for password validation
  src/lib/auth/password-security/constant-time-comparison.test.ts
  src/lib/auth/password-security/constant-time-comparison.ts
  src/lib/auth/password-security/index.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs(#58): mark task 3.2 as complete
  .kiro/specs/secure-password-storage/tasks.md
Due: prettier --write, cspell --no-must-find-files

feat(#6.3): implement CAPTCHA error handling and generic responses
  .env.local.example
  .env.production.example
  .kiro/specs/secure-password-storage/TASK_1_5_SUMMARY.md
  .kiro/specs/secure-password-storage/tasks.md
  src/__tests__/auth/captcha-error-handler.test.ts
  src/__tests__/integration/environment-parity.test.ts
  src/app/api/auth/login/route.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/lib/auth/captcha-error-handler.ts
  src/lib/auth/captcha-verifier.test.ts
  src/lib/auth/captcha-verifier.ts
  src/lib/auth/password-security/algorithm-migration.properties.test.ts
  src/lib/auth/password-security/hash-format-validator.test.ts
  src/lib/auth/password-security/hash-format-validator.ts
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/migration-trigger.test.ts
  src/lib/auth/password-security/migration-trigger.ts
  src/lib/auth/password-security/password-validator.test.ts
  src/lib/auth/password-security/password-validator.ts
  src/lib/auth/password-security/rate-limiter.test.ts
  src/lib/auth/password-security/rate-limiter.ts
  src/lib/auth/rate-limiter.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#59): implement CAPTCHA error handling and generic responses
  .kiro/specs/secure-password-storage/tasks.md
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs(#59): mark task 6.3 as complete
  .kiro/specs/secure-password-storage/tasks.md
Due: prettier --write, cspell --no-must-find-files

feat(#7.4): implement generic error messages (no user enumeration)
  .kiro/specs/secure-password-storage/tasks.md
  src/__tests__/auth/generic-error-messages.test.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/lib/auth/error-handling.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#9.2): fix authentication failure logging test for generic error messages
  .kiro/specs/secure-password-storage/tasks.md
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.test.ts
  src/app/api/auth/register/route.ts
  src/lib/auth/authentication-failure-logging.test.ts
  src/lib/auth/authentication-failure-logging.ts
  src/lib/auth/password-security/AUTHENTICATION_SERVICE.md
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/config.ts
  src/lib/auth/password-security/index.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#secure-password-storage): complete secure password storage implementation with Argon2id, pepper, CAPTCHA, and rate limiting
  .env.local.example
  .env.production.example
  .kiro/specs/secure-password-storage/tasks.md
  src/__tests__/security/argon2id-memory-hardness.test.ts
  src/__tests__/security/pepper-application-validation.test.ts
  src/__tests__/security/phase-10-security-tests.test.ts
  src/__tests__/security/salt-uniqueness.property.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/config.test.ts
  src/lib/auth/password-security/configuration-logging.test.ts
  src/lib/auth/password-security/configuration-logging.ts
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/password-input-validation.test.ts
  src/lib/auth/password-security/password-validator.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#60): consolidate environment configuration and remove redundant .env files
  .env.production.example
  .env.test.local.example
Due: none

refactor(auth): Argon2id-only passwords; remove bcrypt migration
  src/components/auth/register-form.tsx
  src/lib/auth/account-completion-validation.ts
  src/lib/auth/authentication-failure-logging.ts
  src/lib/auth/password-hashing.ts
  src/lib/auth/password-security/algorithm-migration.properties.test.ts
  src/lib/auth/password-security/argon2id-hasher.ts
  src/lib/auth/password-security/authentication-service.test.ts
  src/lib/auth/password-security/authentication-service.ts
  src/lib/auth/password-security/bcrypt-validator.test.ts
  src/lib/auth/password-security/bcrypt-validator.ts
  src/lib/auth/password-security/config.test.ts
  src/lib/auth/password-security/config.ts
  src/lib/auth/password-security/constant-time-comparison.test.ts
  src/lib/auth/password-security/constant-time-comparison.ts
  src/lib/auth/password-security/hash-algorithm-detection.test.ts
  src/lib/auth/password-security/hash-algorithm-detection.ts
  src/lib/auth/password-security/hash-format-validator.test.ts
  src/lib/auth/password-security/hash-format-validator.ts
  src/lib/auth/password-security/index.ts
  src/lib/auth/password-security/migration-trigger.test.ts
  src/lib/auth/password-security/migration-trigger.ts
  src/lib/auth/password-security/password-validator.test.ts
  src/lib/auth/password-security/password-validator.ts
  src/lib/auth/password-security/salt-generator.test.ts
  src/lib/auth/validation.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(email): Resend for transactional mail; drop SMTP from env validation
  src/app/api/youtube/link/start/route.test.ts
  src/app/api/youtube/link/start/route.ts
  src/lib/config/env.ts
  src/lib/youtube/config.test.ts
  src/lib/youtube/config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: Vercel/Cloudflare/Supabase/Resend deploy guide; remove legacy agent docs
  .agent/AI_CONTEXT.md
  .agent/DEPLOYMENT_CHECKLIST.md
  .agent/DEPLOYMENT_COMMANDS.md
  .agent/DEPLOYMENT_INDEX.md
  .agent/DEPLOYMENT_SUMMARY.md
  .agent/EMERGENCY_ROLLBACK.md
  .agent/ENVIRONMENT_VARIABLES.md
  .agent/QUICK_DEPLOYMENT_GUIDE.md
  .agent/QUICK_START_YOUTUBE_LINKING.md
  .agent/SUPABASE_DEPLOYMENT_GUIDE.md
  .agent/SUPABASE_SETUP_WALKTHROUGH.md
  .agent/TASK_1_4_SUMMARY.md
  .agent/VERCEL_ENV_CHECKLIST.md
  .agent/VERCEL_ENV_QUICK_REFERENCE.md
  .agent/VERCEL_ENV_SETUP.md
  .agent/YOUTUBE_LINKING_DEPLOYMENT_STATUS.md
  .agent/workflows/deploy.md
  .agent/workflows/full-process.md
  .agent/workflows/onboarding.md
  .agent/workflows/testing.md
  .env.production.example
  .github/workflows/deploy-aws.yml
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
Due: prettier --write, cspell --no-must-find-files

chore(supabase): revoke rls_auto_enable RPC from anon and authenticated
  supabase/migrations/20260518120000_revoke_rls_auto_enable_rpc.sql
Due: none

fix(test): silence expected auth security stderr during Vitest
  src/__tests__/lib/auth/password-hashing-property.test.ts
  src/components/auth/forgot-password-form.tsx
  src/components/auth/login-form.tsx
  src/components/auth/register-form.tsx
  src/components/auth/reset-password-form.tsx
  src/lib/auth/password-security/argon2id-hasher.ts
  src/lib/auth/password-security/auth-security-log.ts
  src/lib/auth/password-security/config.test.ts
  src/lib/auth/password-security/config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: quiet Vitest output, Discord user audit, dashboard i18n, test fixes
  docs/MIGRATIONS.md
  src/__tests__/components/dashboard-mobile-responsive.test.tsx
  src/__tests__/components/dashboard-tablet-responsive.test.tsx
  src/__tests__/performance/login-performance.test.ts
  src/app/api/auth/google/callback/route.ts
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/oauth/callback/[platform]/route.ts
  src/components/auth/google-logout-button.test.tsx
  src/components/auth/google-logout-button.tsx
  src/components/auth/unified-signin-form.test.tsx
  src/components/dashboard/Sidebar.test.tsx
  src/components/dashboard/Sidebar.tsx
  src/components/ui/tooltip.tsx
  src/i18n/de/auth.json
  src/i18n/de/dashboard.json
  src/i18n/en/auth.json
  src/i18n/en/dashboard.json
  src/i18n/es/auth.json
  src/i18n/es/dashboard.json
  src/i18n/pt-BR/auth.json
  src/i18n/pt-BR/dashboard.json
  src/i18n/request.ts
  src/lib/audit/discord-user-audit.ts
  src/lib/db/migrations/002_add_account_completion_fields.test.ts
  src/lib/middleware/account-completion.e2e.test.ts
  src/lib/middleware/account-completion.ts
  src/lib/youtube/dependency-injection.test.ts
  src/lib/youtube/dependency-injection.ts
  vitest.config.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

linters
  .markdownlint.json
  cspell.json
Due: prettier --write, cspell --no-must-find-files

opencode
  AGENTS.md
Due: prettier --write, cspell --no-must-find-files

chore: add supabase to devDependencies
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

chore: update dependencies via npm update (next 16.2.7, stripe 22.2.0, react 19.2.7, etc.)
  package-lock.json
  package.json
  src/lib/stripe/index.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
