Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,md,mdx,css,scss,sass,yaml,yml}": ["prettier --write"],
    "*.{ts,tsx,js,jsx,md,json}": ["cspell --no-must-find-files"]
}

refactor: reorganize header layout for better UX
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add header and footer to 404 page
  src/app/not-found.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add testing guides and verification results
  LOCAL_TESTING_GUIDE.md
  TESTING_RESULTS.md
Due: prettier --write, cspell --no-must-find-files

docs: add deployment ready checklist
  DEPLOYMENT_READY.md
Due: prettier --write, cspell --no-must-find-files

fix: remove invalid nodeVersion from vercel.json
  vercel.json
Due: prettier --write, cspell --no-must-find-files

chore: add .nvmrc for Node version specification
  .nvmrc
Due: none

chore: add engines specification to package.json
  package.json
Due: prettier --write, cspell --no-must-find-files

docs: add Vercel deployment fix documentation
  VERCEL_DEPLOYMENT_FIX.md
Due: prettier --write, cspell --no-must-find-files

fix: remove invalid envPrefix and functions from vercel.json
  vercel.json
Due: prettier --write, cspell --no-must-find-files

fix vercel 2
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: resolve three Vercel deployment errors
  .kiro/specs/fix-vercel-deployment-errors/.config.kiro
  .kiro/specs/fix-vercel-deployment-errors/bugfix.md
  .kiro/specs/fix-vercel-deployment-errors/design.md
  .kiro/specs/fix-vercel-deployment-errors/tasks.md
  next.config.ts
  src/__tests__/app/i18n-locale-validation-bug-exploration.test.ts
  src/__tests__/app/local-development-build-preservation.test.ts
  src/__tests__/app/missing-500-error-page-bug-exploration.test.ts
  src/__tests__/app/normal-request-handling-preservation.test.ts
  src/__tests__/app/ssr-chunks-serialization.test.ts
  src/__tests__/app/valid-locale-preservation.test.ts
  src/app/500.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/login/page.tsx
  src/app/[locale]/register/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/i18n/request.ts
  test-output.txt
Due: eslint --fix, prettier --write, cspell --no-must-find-files

removed unused md
  .kiro/specs/video-upload-multi-platform/.config.kiro
  .kiro/specs/video-upload-multi-platform/API_SETUP_GUIDE.md
  .kiro/specs/video-upload-multi-platform/RESUMO.md
  .kiro/specs/video-upload-multi-platform/design.md
  .kiro/specs/video-upload-multi-platform/requirements.md
  .kiro/specs/video-upload-multi-platform/tasks.md
  .nvmrc
  DEPLOYMENT_READY.md
  DEPLOYMENT_SUCCESS.md
  DISTRIBUTED_INFRASTRUCTURE_COMPLETE.md
  FINAL_CSS_FIX.md
  FINAL_INSTRUCTIONS.md
  FRONTEND_FIX_SUMMARY.md
  I18N_TRANSLATION_FIX.md
  IMPLEMENTATION_SUMMARY.md
  MIGRATION_COMPLETE.md
  RESTART_DOCKER.md
  TESTING_RESULTS.md
  VERCEL_DEPLOYMENT_FIX.md
  src/app/[locale]/iq-test/page.tsx
  src/app/[locale]/iq-test/summary/page.tsx
  src/app/[locale]/login/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/privacy-policy/page.tsx
  src/app/[locale]/register/page.tsx
  src/app/[locale]/terms-of-service/page.tsx
  src/app/[locale]/waveigl-support/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add Vercel deployment fix documentation - git reference corruption resolved
  VERCEL_DEPLOYMENT_FIX.md
Due: prettier --write, cspell --no-must-find-files

fix: remove invalid env reference from vercel.json - NEXT_PUBLIC_API_URL should be set in Vercel dashboard
  vercel.json
Due: prettier --write, cspell --no-must-find-files

fix: vercel.json
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

fix: convert login/register pages from client to server components
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/login/page.tsx
  src/app/[locale]/register/page.tsx
  src/app/[locale]/register/register-form.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: redesign homepage and create about page
  src/app/[locale]/home/landing-benefits-section.tsx
  src/app/[locale]/home/landing-cta-section.tsx
  src/app/[locale]/home/landing-faq-section.tsx
  src/app/[locale]/home/landing-features-section.tsx
  src/app/[locale]/home/landing-hero-section.tsx
  src/app/[locale]/home/landing-platforms-section.tsx
  src/app/[locale]/home/landing-pricing-section.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/quem-sou-eu/page.tsx
  src/components/layout/header.tsx
  src/i18n/de/landing.json
  src/i18n/de/layout.header.json
  src/i18n/en/landing.json
  src/i18n/en/layout.header.json
  src/i18n/es/landing.json
  src/i18n/es/layout.header.json
  src/i18n/pt-BR/landing.json
  src/i18n/pt-BR/layout.header.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs: add homepage redesign summary
  HOMEPAGE_REDESIGN_SUMMARY.md
Due: prettier --write, cspell --no-must-find-files

fix: reorganize header layout for better navigation
  src/components/layout/header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

waveigl removed
  src/__tests__/app/coverage-breadcrumbs.test.ts
  src/__tests__/app/metadata-all-pages.test.ts
  src/__tests__/app/metadata-generators-extended.test.ts
  src/app/api/whatsapp/webhook/route.ts
  src/components/layout/header.tsx
  src/i18n/request.ts
  src/lib/seo.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

refactor: implement SEO-friendly URLs and language-independent about page
  SEO_URL_CHANGES_REPORT.md
  middleware.ts
  src/__tests__/components/layout-header-coverage.test.tsx
  src/app/gabriel-toth-goncalves/page.tsx
  src/components/layout/header.tsx
  tests/home.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add waveiglSupport translations and fix gabriel-toth-goncalves page
  src/app/gabriel-toth-goncalves/layout.tsx
  src/app/gabriel-toth-goncalves/page.tsx
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: add multilingual URL redirect tests
  tests/multilingual-urls.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: update dependencies to latest versions
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: remove duplicated files that were incorrectly created outside src folder
  channel-management-breadcrumbs.ts
  channel-management-calculate-price.ts
  channel-management-metadata.ts
  channel-management-section-types.ts
  channel-management-structured.ts
  channel-management-types.ts
  channel-management-view.tsx
  channel-management-whatsapp-message.ts
  editors-breadcrumbs.ts
  editors-card.tsx
  editors-form.tsx
  editors-metadata.ts
  editors-structured.ts
  editors-types.ts
  editors-view.tsx
  editors-whatsapp.ts
  iq-test-structured.ts
  login-form.tsx
  page.tsx
  pc-optimization-breadcrumbs.ts
  pc-optimization-metadata.ts
  pc-optimization-structured.ts
  pc-optimization-types.ts
  pc-optimization-view.tsx
  pc-optimization-whatsapp.ts
  privacy-policy-breadcrumbs.ts
  privacy-policy-metadata.ts
  privacy-policy-structured.ts
  register-form.tsx
  terms-of-service-breadcrumbs.ts
  terms-of-service-metadata.ts
  terms-of-service-structured.ts
  terms-of-service-types.ts
  waveigl-support-breadcrumbs.ts
  waveigl-support-client-page.tsx
  waveigl-support-metadata.ts
  waveigl-support-types.ts
  waveigl-support-view.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add missing i18n translations for iqTest (ES, DE) and update dependencies
  package-lock.json
  package.json
  src/i18n/de/iqTest.json
  src/i18n/es/iqTest.json
Due: prettier --write, cspell --no-must-find-files

feat: completely remove waveigl-support page from the site
  middleware.ts
  src/__tests__/app/waveigl-pages.test.tsx
  src/__tests__/app/waveigl-support-client-page-coverage.test.tsx
  src/__tests__/app/waveigl-support-page-coverage.test.tsx
  src/__tests__/app/waveigl-support-view-coverage.test.tsx
  src/app/[locale]/waveigl-support/page.tsx
  src/app/[locale]/waveigl-support/waveigl-support-breadcrumbs.ts
  src/app/[locale]/waveigl-support/waveigl-support-client-page.tsx
  src/app/[locale]/waveigl-support/waveigl-support-metadata.ts
  src/app/[locale]/waveigl-support/waveigl-support-types.ts
  src/app/[locale]/waveigl-support/waveigl-support-view.tsx
  src/i18n/de/waveiglSupport.json
  src/i18n/en/waveiglSupport.json
  src/i18n/es/waveiglSupport.json
  src/i18n/pt-BR/waveiglSupport.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove waveigl-support from i18n request loader
  COMPLETE_URL_MAPPING.md
  QUICK_STATUS.md
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add rewrites for localized URLs to work with English folder names
  next.config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: pin Node.js version to 22.x to avoid auto-upgrade warnings
  package.json
Due: prettier --write, cspell --no-must-find-files

feat: add Minecraft section with landing page and navigation
  .kiro/specs/minecraft-wiki-section/.config.kiro
  .kiro/specs/minecraft-wiki-section/design.md
  .kiro/specs/minecraft-wiki-section/requirements.md
  .kiro/specs/minecraft-wiki-section/tasks.md
  src/__tests__/app/coverage-pages-1.test.tsx
  src/app/[locale]/minecraft/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/not-found.tsx
  src/components/layout/header.tsx
  src/i18n/de/layout.header.json
  src/i18n/de/minecraft.json
  src/i18n/en/channelManagement.json
  src/i18n/en/home.json
  src/i18n/en/layout.header.json
  src/i18n/en/minecraft.json
  src/i18n/es/layout.header.json
  src/i18n/es/minecraft.json
  src/i18n/pt-BR/channelManagement.json
  src/i18n/pt-BR/home.json
  src/i18n/pt-BR/layout.header.json
  src/i18n/pt-BR/minecraft.json
  src/i18n/request.ts
  src/lib/url-mapping.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove conflicting login/register redirects from middleware
  middleware.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

add: supabase ssr
  .kiro/settings/mcp.json
  .kiro/specs/hypixel-qol-modpack-page/.config.kiro
  .kiro/specs/hypixel-qol-modpack-page/design.md
  .kiro/specs/hypixel-qol-modpack-page/requirements.md
  .kiro/specs/hypixel-qol-modpack-page/tasks.md
  components.json
  docs/CLOUD_DEPLOYMENT_GUIDE.md
  env.platform.example
  package-lock.json
  package.json
  src/lib/client.ts
  src/lib/middleware.ts
  src/lib/server.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update MCP configuration with correct package names and available servers
  .kiro/MCP_CONFIG_INSTRUCTIONS.md
  .kiro/settings/mcp.json
Due: prettier --write, cspell --no-must-find-files

docs: add MCP setup summary guide
  .kiro/MCP_SETUP_SUMMARY.md
Due: prettier --write, cspell --no-must-find-files

fix: disable aws-mcp server that is not available in registry
  .kiro/settings/mcp.json
Due: prettier --write, cspell --no-must-find-files
