Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
    "*.{json,md,mdx,css,scss,sass,yaml,yml}": ["prettier --write"],
    "*.{ts,tsx,js,jsx,md,json}": ["cspell --no-must-find-files"]
}

feat(#308): apply PageHeader to PC Optimization Terms page
  src/app/[locale]/pc-optimization/terms/page.tsx
  src/i18n/de/pcOptimizationTermsPageHero.json
  src/i18n/en/pcOptimizationTermsPageHero.json
  src/i18n/es/pcOptimizationTermsPageHero.json
  src/i18n/pt-BR/pcOptimizationTermsPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to Minecraft Hub page
  src/app/[locale]/minecraft/page.tsx
  src/i18n/de/minecraftPageHero.json
  src/i18n/en/minecraftPageHero.json
  src/i18n/es/minecraftPageHero.json
  src/i18n/pt-BR/minecraftPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to Minecraft Modpacks page
  src/app/[locale]/minecraft/modpacks/page.tsx
  src/i18n/en/minecraftModpacksPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to minecraft mods page
  src/app/[locale]/minecraft/mods/page.tsx
  src/i18n/de/minecraftModsPageHero.json
  src/i18n/es/minecraftModsPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to minecraft plugins page
  src/app/[locale]/minecraft/plugins/page.tsx
  src/i18n/de/minecraftPluginsPageHero.json
  src/i18n/en/minecraftPluginsPageHero.json
  src/i18n/es/minecraftPluginsPageHero.json
  src/i18n/pt-BR/minecraftPluginsPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to minecraft contributions page
  src/app/[locale]/minecraft/contributions/page.tsx
  src/i18n/de/minecraftContributionsPageHero.json
  src/i18n/en/minecraftContributionsPageHero.json
  src/i18n/es/minecraftContributionsPageHero.json
  src/i18n/pt-BR/minecraftContributionsPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to hypixel qol modpack page
  src/app/[locale]/minecraft/modpacks/hypixel-qol/page.tsx
  src/i18n/de/minecraftHypixelQolPageHero.json
  src/i18n/en/minecraftHypixelQolPageHero.json
  src/i18n/es/minecraftHypixelQolPageHero.json
  src/i18n/pt-BR/minecraftHypixelQolPageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat(#308): apply PageHeader to home page
  src/app/[locale]/home/landing-hero-section.tsx
  src/i18n/de/homePageHero.json
  src/i18n/en/homePageHero.json
  src/i18n/es/homePageHero.json
  src/i18n/pt-BR/homePageHero.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove duplicate PageHeader import in channel-management-view
  src/app/[locale]/channel-management/channel-management-view.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: remove PAGE_HEADER_USAGE.md guide
  .agents/PAGE_HEADER_USAGE.md
Due: prettier --write, cspell --no-must-find-files

fix: resolve lighthouse accessibility and contrast issues
  src/components/layout/footer.tsx
  src/components/layout/page-header.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(#308): add missing homePageHero translations for all locales
  src/i18n/de/homePageHero.json
  src/i18n/en/homePageHero.json
  src/i18n/es/homePageHero.json
  src/i18n/pt-BR/homePageHero.json
Due: prettier --write, cspell --no-must-find-files

fix(#308): add missing PageHero translations and request.ts configuration
  src/i18n/de/minecraftModpacksPageHero.json
  src/i18n/de/pcOptimizationPageHero.json
  src/i18n/en/pcOptimizationPageHero.json
  src/i18n/es/minecraftModpacksPageHero.json
  src/i18n/es/pcOptimizationPageHero.json
  src/i18n/pt-BR/minecraftModpacksPageHero.json
  src/i18n/pt-BR/pcOptimizationPageHero.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: Meta Business Suite browser auto-publisher via Puppeteer-core + Stealth
  meta-publisher/SETUP.md
  meta-publisher/server/index.js
  meta-publisher/server/package.json
  meta-publisher/worker/index.js
  meta-publisher/worker/package.json
  meta-publisher/worker/publish-meta.js
  src/app/api/meta/publish/route.ts
  src/components/publish/wizard/types.ts
  src/components/publish/wizard/usePublishExecution.ts
  supabase/migrations/20260720_meta_publish_tasks.sql
  supabase/schema.sql
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: apply fully rounded borders and fix button text contrast
  src/components/AuthenticationScreen/AuthButtonRow/AuthButton/AuthButton.module.css
  src/components/ui/button.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

test: add interactive auth flow E2E spec with visible browser
  tests/auth-flow.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: replace Playwright spec with real Chrome CDP script for auth flow test
  tests/auth-flow.cdp.ts
  tests/auth-flow.spec.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: make all button radii rounded-full across every page
  meta-publisher/update.ps1
  src/app/500.tsx
  src/app/[locale]/auth/complete-account/components/field-editor.tsx
  src/app/[locale]/auth/complete-account/steps/step-1-prefilled.tsx
  src/app/[locale]/auth/complete-account/steps/step-2-new-fields.tsx
  src/app/[locale]/auth/complete-account/steps/step-3-verification.tsx
  src/app/[locale]/channel-management/channel-management-view.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/home/landing-cta-section.tsx
  src/app/[locale]/home/landing-hero-section.tsx
  src/app/[locale]/home/landing-pricing-section.tsx
  src/app/[locale]/home/projects-section.tsx
  src/app/[locale]/login/login-form.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/register/register-form-multistep.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/components/auth/google-login-button.tsx
  src/components/auth/unified-signin-form.tsx
  src/components/layout/header.tsx
  src/components/registration/NavigationButtons.tsx
  src/components/registration/VerificationReview.tsx
  src/components/ui/button.tsx
  src/components/ui/language-selector.tsx
  tests/start-chrome.ps1
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore(deps): bump next@16.2.11 and fast-uri@3.1.4
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix(ui): correct dark mode colors on hero CTA, CTA section and benefits cards
  src/app/[locale]/home/landing-benefits-section.tsx
  src/app/[locale]/home/landing-cta-section.tsx
  src/app/[locale]/home/landing-hero-section.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: resolve build, type-check and test failures across the project
  package-lock.json
  package.json
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/components/dashboard/live/unified-chat.test.tsx
  src/__tests__/lib/chat/twitch-adapter.test.ts
  src/app/[locale]/auth/complete-account/components/data-summary.test.tsx
  src/app/[locale]/auth/complete-account/components/password-strength.test.tsx
  src/app/[locale]/services/__tests__/ServicesSubmenu.test.tsx
  src/app/[locale]/services/__tests__/services-submenu.test.tsx
  src/app/api/live/stream-key/route.test.ts
  src/components/dashboard/Sidebar.tsx
  src/components/publish/wizard/usePublishExecution.ts
  src/lib/auth/session-remember-me.test.ts
  src/lib/realtime/message-aggregator.test.ts
  src/lib/tiktok/oauth-service.test.ts
  src/lib/youtube/config.test.ts
  vitest.setup.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): sync channelManagement, home, iqTest, header translations across all locales
  src/i18n/de/channelManagement.json
  src/i18n/de/iqTest.json
  src/i18n/de/layout.header.json
  src/i18n/en/home.json
  src/i18n/en/iqTest.json
  src/i18n/es/channelManagement.json
  src/i18n/es/iqTest.json
  src/i18n/es/layout.header.json
  src/i18n/pt-BR/home.json
  src/i18n/pt-BR/iqTest.json
  src/i18n/pt-BR/layout.header.json
Due: prettier --write, cspell --no-must-find-files

fix(tests): remove legacy bug-exploration tests, fix services-submenu hover selector
  src/__tests__/bugfix/logout-button-exploration.test.tsx
  src/__tests__/bugfix/logout-button-preservation.test.tsx
  src/__tests__/security/instagram-analytics.security.test.ts
  src/__tests__/security/instagram-publish.security.test.ts
  src/__tests__/security/tiktok-callback.security.test.ts
  src/app/[locale]/services/__tests__/services-submenu.test.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): enforce exact leaf-key parity across all 29 files x 4 locales
  src/i18n/pt-BR/iqTest.json
Due: prettier --write, cspell --no-must-find-files

feat: remove ALL iqTest from project (routes, i18n, components)
  src/app/[locale]/services/page.tsx
  src/components/layout/header.tsx
  src/i18n/de/iqTest.json
  src/i18n/de/layout.footer.json
  src/i18n/de/layout.header.json
  src/i18n/de/services.json
  src/i18n/en/iqTest.json
  src/i18n/en/layout.footer.json
  src/i18n/en/layout.header.json
  src/i18n/en/services.json
  src/i18n/es/iqTest.json
  src/i18n/es/layout.footer.json
  src/i18n/es/layout.header.json
  src/i18n/es/services.json
  src/i18n/pt-BR/iqTest.json
  src/i18n/pt-BR/layout.footer.json
  src/i18n/pt-BR/layout.header.json
  src/i18n/pt-BR/services.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(i18n): add 17 missing translation keys, verify full parity
  src/i18n/de/auth.json
  src/i18n/de/dashboard.json
  src/i18n/de/publish.json
  src/i18n/en/auth.json
  src/i18n/en/dashboard.json
  src/i18n/en/publish.json
  src/i18n/es/auth.json
  src/i18n/es/dashboard.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/auth.json
  src/i18n/pt-BR/dashboard.json
  src/i18n/pt-BR/publish.json
Due: prettier --write, cspell --no-must-find-files

refactor(i18n): remove ALL hardcoded locale-specific text from components
  src/app/[locale]/pc-optimization/terms/page.tsx
  src/app/[locale]/privacy-policy/privacy-policy-breadcrumbs.ts
  src/app/[locale]/privacy-policy/privacy-policy-structured.ts
  src/app/[locale]/terms-of-service/terms-of-service-breadcrumbs.ts
  src/app/[locale]/terms-of-service/terms-of-service-structured.ts
  src/components/ui/pricing-toggle.tsx
  src/i18n/de/landing.json
  src/i18n/de/pcOptimizationTerms.json
  src/i18n/en/landing.json
  src/i18n/en/pcOptimizationTerms.json
  src/i18n/es/landing.json
  src/i18n/es/pcOptimizationTerms.json
  src/i18n/pt-BR/landing.json
  src/i18n/pt-BR/pcOptimizationTerms.json
  src/i18n/request.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: remove LAST hardcoded locale text (contact route + pc-optimization metadata)
  src/app/[locale]/pc-optimization/pc-optimization-metadata.ts
  src/app/api/contact/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: correct onConflict param to match (user_id, platform, platform_user_id) unique constraint in 3 OAuth callbacks
  src/app/api/oauth/callback/[platform]/route.ts
  src/app/api/oauth/callback/instagram/route.ts
  src/app/api/youtube/link/callback/route.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: Implement Orchestration System v2 with Smart Router + Checkpoints + Bug Hunter
  .github/ISSUE_TEMPLATE/orchestration-v2-implementation.md
  ORCHESTRATION-ARCH.md
  config/orchestration/accounts.yaml
  config/orchestration/bug-hunt.yaml
  config/orchestration/models.yaml
  config/orchestration/workflows.yaml
  package-lock.json
  package.json
  scripts/i18n/check-params.mjs
  scripts/install-service.ps1
  scripts/orchestrator-service.ps1
  src/app/api/live/chat/send/route.ts
  src/components/dashboard/NotificationBell.tsx
  src/components/dashboard/live/unified-chat.tsx
  src/orchestration/account-pool.ts
  src/orchestration/bug-hunter-service.ts
  src/orchestration/bug-hunter.ts
  src/orchestration/check-db.cjs
  src/orchestration/check-ports.mjs
  src/orchestration/checkpoint-manager.ts
  src/orchestration/conductor.ts
  src/orchestration/context-tracker.ts
  src/orchestration/dag-executor.ts
  src/orchestration/index.ts
  src/orchestration/quick-test.mjs
  src/orchestration/setup-combos.ts
  src/orchestration/test-all-combos.mjs
  src/orchestration/test-combo-create.mjs
  src/orchestration/test-paths.mjs
  src/orchestration/test-quick.ts
  src/orchestration/test-smart-router.ts
  src/orchestration/test.ts
  src/orchestration/types.ts
  src/orchestration/worker.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: Type errors in orchestration system
  ICE-ANALYSIS.md
  bug-reports/edge-tester-1785062182389.json
  bug-reports/screenshot-1785062177412.png
  bug-reports/screenshot-1785062177423.png
  bug-reports/screenshot-1785062180782.png
  bug-reports/ui-checker-1785062182379.json
  package-lock.json
  package.json
  scripts/INSTALL-SERVICE-ADMIN.ps1
  src/orchestration/bug-hunter.ts
  src/orchestration/setup-combos.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: Complete infrastructure setup scripts
  package-lock.json
  scripts/OMNIROUTE-AUTO-START.ps1
  src/orchestration/implement-everything.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: Add account rotation across 7 active accounts
  config/orchestration/accounts.yaml
Due: prettier --write

fix: Correct markdown lint errors in CHANGELOG.md
  CHANGELOG.md
Due: prettier --write, cspell --no-must-find-files

fix: Normalize line endings in channel-management-section.tsx
  src/app/[locale]/home/channel-management-section.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files
