Repository GabrielToth/gabrieltoth.com: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell --no-must-find-files

fix: show actual linked account count in NetworkSelectStep instead of hardcoded flags
  src/components/publish/wizard/NetworkSelectStep.tsx
  src/components/publish/wizard/StorageModeStep.tsx
  src/components/publish/wizard/types.ts
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(publish-wizard): add Next button to VideoUploadStep when returning with existing video
  src/components/publish/wizard/VideoUploadStep.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: show actual linked account count in NetworkSelectStep (#189)
  src/components/publish/wizard/NetworkSelectStep.tsx
  src/components/publish/wizard/StorageModeStep.tsx
  src/components/publish/wizard/types.ts
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add Next button to VideoUploadStep when returning with existing video (#193)
  src/components/publish/wizard/VideoUploadStep.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add draft management UI and post history with draft indicators
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/dashboard/publish/page.tsx
  src/components/publish/CalendarDay.tsx
  src/components/publish/CalendarView.tsx
  src/components/publish/PostCard.tsx
  src/components/publish/wizard/PublishWizard.tsx
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
  src/lib/api/posts.ts
  src/lib/queue/publication-queue.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: add draft management UI and post history with draft indicators (#191)
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/dashboard/publish/page.tsx
  src/components/publish/CalendarDay.tsx
  src/components/publish/CalendarView.tsx
  src/components/publish/PostCard.tsx
  src/components/publish/wizard/PublishWizard.tsx
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
  src/lib/api/posts.ts
  src/lib/queue/publication-queue.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: implement Instagram publishing - background processor, barrel export, and wizard metadata support
  src/lib/posting/index.ts
  src/lib/queue/background-processor.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: implement Instagram publishing - background processor, barrel export, wizard metadata support (#195)
  src/lib/posting/index.ts
  src/lib/queue/background-processor.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: release v1.20.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

Release v1.20.0: Instagram publishing, draft history UI, YouTube members-only visibility, and bug fixes
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

feat: implement TikTok publishing end-to-end
  src/app/api/platform/tiktok/publish/status/route.ts
  src/app/api/platform/youtube/publish/route.ts
  src/app/api/posts/route.ts
  src/components/publish/wizard/ContentFormStep.tsx
  src/components/publish/wizard/NetworkSelectStep.tsx
  src/components/publish/wizard/VisibilityStep.tsx
  src/components/publish/wizard/types.ts
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager.ts
  src/lib/posting/content-adapter.ts
  src/lib/posting/index.ts
  src/lib/queue/background-processor.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: implement TikTok publishing end-to-end - NetworkSelect, metadata, background processor, API routes (#198)
  src/app/api/platform/tiktok/publish/status/route.ts
  src/app/api/platform/youtube/publish/route.ts
  src/app/api/posts/route.ts
  src/components/publish/wizard/ContentFormStep.tsx
  src/components/publish/wizard/NetworkSelectStep.tsx
  src/components/publish/wizard/VisibilityStep.tsx
  src/components/publish/wizard/types.ts
  src/i18n/de/publish.json
  src/i18n/en/publish.json
  src/i18n/es/publish.json
  src/i18n/pt-BR/publish.json
  src/lib/networks/network-manager.ts
  src/lib/oauth/oauth-manager.ts
  src/lib/posting/content-adapter.ts
  src/lib/posting/index.ts
  src/lib/queue/background-processor.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: release v1.21.0
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

Release v1.21.0: TikTok publishing, Instagram publishing, draft history UI, and bug fixes
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: add process.env fallback to Facebook and TikTok configs for serverless OAuth
  src/lib/facebook/config.ts
  src/lib/tiktok/config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: release v1.21.1
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

Release v1.21.1: fix Facebook, TikTok, and Instagram OAuth authorization
  CHANGELOG.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: revert Facebook Instragram ID fallback - they are DIFFERENT IDs, add missing env vars to .env.local
  src/lib/facebook/config.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: align CSRF cookie preference order to match auth_session cookie
  src/lib/middleware/api-csrf-middleware.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update Facebook Graph API version from v18.0 to v22.0 in OAuth manager and callback route
  src/__tests__/lib/oauth/oauth-manager.test.ts
  src/app/api/auth/oauth/callback/route.ts
  src/lib/oauth/oauth-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add retry with exponential backoff to TikTok getUserInfo for token propagation delay
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: align CSRF cookie preference order to match auth_session cookie (#206)
  src/lib/middleware/api-csrf-middleware.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: update Facebook Graph API version from v18.0 to v22.0 in OAuth manager and callback route (#207)
  src/__tests__/lib/oauth/oauth-manager.test.ts
  src/app/api/auth/oauth/callback/route.ts
  src/lib/oauth/oauth-manager.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add retry with exponential backoff to TikTok getUserInfo for token propagation delay (#208)
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: force reload on bfcache restore after OAuth redirect
  src/app/layout.tsx
  src/components/bfcache-reload.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

chore: upgrade Facebook Graph API from v22.0 to v25.0
  src/__tests__/lib/oauth/oauth-manager.test.ts
  src/__tests__/lib/posting/adapters/facebook.test.ts
  src/__tests__/security/facebook-analytics.security.test.ts
  src/__tests__/security/facebook-authorize.security.test.ts
  src/__tests__/security/facebook-callback.security.test.ts
  src/__tests__/security/facebook-comments.security.test.ts
  src/__tests__/security/facebook-disconnect.security.test.ts
  src/__tests__/security/facebook-live.security.test.ts
  src/__tests__/security/facebook-publish.security.test.ts
  src/__tests__/security/instagram-analytics.security.test.ts
  src/__tests__/security/instagram-authorize.security.test.ts
  src/__tests__/security/instagram-callback.security.test.ts
  src/__tests__/security/instagram-comments.security.test.ts
  src/__tests__/security/instagram-disconnect.security.test.ts
  src/__tests__/security/instagram-publish.security.test.ts
  src/app/api/auth/oauth/callback/route.ts
  src/app/api/oauth/authorize/instagram/route.ts
  src/lib/facebook/analytics.ts
  src/lib/facebook/comments.ts
  src/lib/facebook/config.ts
  src/lib/facebook/live.ts
  src/lib/facebook/posts.ts
  src/lib/instagram/comments.ts
  src/lib/instagram/config.ts
  src/lib/oauth/oauth-manager.ts
  src/lib/posting/adapters/instagram.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: bypass Facebook/Instagram OAuth via env var tokens + fix Instagram route early-return bug
  .env.local.example
  .env.production.example
  src/app/api/platform/instagram/analytics/route.ts
  src/app/api/platform/instagram/comments/[id]/route.ts
  src/app/api/platform/instagram/comments/route.ts
  src/app/api/platform/instagram/publish/route.ts
  src/lib/config/env.ts
  src/lib/facebook/config.ts
  src/lib/facebook/get-valid-token.ts
  src/lib/facebook/oauth-service.ts
  src/lib/instagram/config.ts
  src/lib/instagram/get-valid-token.ts
  src/lib/tiktok/config.ts
  src/lib/youtube/config.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

feat: bypass Facebook/Instagram OAuth via env var tokens + fix Instagram route early-return bug (#213)
  .env.local.example
  .env.production.example
  src/app/api/platform/instagram/analytics/route.ts
  src/app/api/platform/instagram/comments/[id]/route.ts
  src/app/api/platform/instagram/comments/route.ts
  src/app/api/platform/instagram/publish/route.ts
  src/lib/config/env.ts
  src/lib/facebook/config.ts
  src/lib/facebook/get-valid-token.ts
  src/lib/facebook/oauth-service.ts
  src/lib/instagram/config.ts
  src/lib/instagram/get-valid-token.ts
  src/lib/tiktok/config.ts
  src/lib/youtube/config.test.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add missing OAuth env vars to production example + TikTok token validation
  .env.production.example
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add missing OAuth env vars to production example + TikTok token validation (#214)
  .env.production.example
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(tiktok): handle wrapped token response format
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix(tiktok): handle wrapped token response format (#218)
  src/lib/tiktok/oauth-service.ts
Due: eslint --fix, prettier --write, cspell --no-must-find-files

docs(changelog): record OAuth fixes for TikTok, Facebook, Instagram
  CHANGELOG.md
Due: prettier --write, cspell --no-must-find-files

docs(changelog): record OAuth fixes for TikTok, Facebook, Instagram (#219)
  CHANGELOG.md
Due: prettier --write, cspell --no-must-find-files

Release v1.21.2: fix TikTok token response format + OAuth config docs
  CHANGELOG.md
  ROADMAP.md
  package.json
Due: prettier --write, cspell --no-must-find-files

fix: update OAuth credentials and enable Facebook/Instagram/TikTok in dashboard channels
  .env.production.example
  src/app/[locale]/dashboard/channels/page.tsx
Due: eslint --fix, prettier --write, cspell --no-must-find-files

fix: add Facebook Page Access Token bypass for Graph API
  .env.production.example
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,mdx,css,scss,sass,yaml,yml})
  cspell --no-must-find-files: any of: *.{ts,tsx,js,jsx,md,json}
